<!--Template  -->
<!-- User suche -->
<div id="wrapper">
 <section id="content">
  <h2>Rollenvergabe </h2><br>
     <form action="/admin/role" method="post" id="userSearchForm" class="floatLeft">
                 <input id="noteOwner" value="" name='nutzer' list=owners type="text" placeholder="Nutzer">
                 <datalist id="owners">
                 <?php
                 foreach($this->user as $user){
                     ?><option value="<?php echo $user->getLogin(); ?>"><?php echo $user->getLogin() , ' [', $user->getFirstName(), ' ', $user->getLastName(), ']'; ?></option><?php
                 }
                 ?>
                 </datalist>
                <input type="submit" name="userglobalsearch" id="globalFilter" value="Globalerollen" class="vAlignMiddle">

     </form>

     <form action="/admin/role" method="post" id="groupSearchForm" class="floatLeft clear">
                <select name="groupSearch" id="groupSearch" class="vAlignMiddle" onChange="this.form.submit()">
                    <option selected="selected" value="0">-- Gruppen Anzeigen --</option>
                <?php
                    foreach ($this->Groups as $Groups)
                    {
                ?>
                    <option value="<?php echo $Groups->getGroupID(); ?>">
                        <?php echo $Groups->getName(); ?>
                    </option>
                <?php
                    }
                ?>
                </select>

     </form>


<!--NutzerRole  -->

<?php
if($this->userobjekt && $this->globalname)
{
?>
     <form action="" method="post" id="globalroleid" class="clear">
         <input type="hidden" name="hiddenuserid" id="hiddenuserID" value="<?php echo $this->userobjekt->getUserId(); ?>">
         <table id="listTable">
                <thead>
                    <tr>
                        <th class="maxWidth">Id</th>
                        <th>Name</th>
                        <th>Aktuelle Rolle</th>
                        <th>Role</th>

                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>
                        <?php echo $this->userobjekt->getUserId(); ?>
                        </td>

                        <td>
                        <?php echo $this->userobjekt->getFirstName() . ' ' . $this->userobjekt->getLastName(); ?>
                        </td>
						 <td>
                        <?php echo $this->RoleName[$this->globalname->getRoleId()];?>
                        </td>

                        <td class="maxWidth">
                            <select name="role" id="roleSearch" class="vAlignMiddle">
                            <option value="<?php echo $this->globalname->getRoleId(); ?>" selected="selected"> --Neue Rolle Auswählen--</option>
                            <?php
                            foreach ($this->RoleName as $key => $value)
                            {
                            ?>
                                <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                            <?php
                            }
                            ?>
                            </select>
                        </td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="submit" value="speichern" name="rolesave" id="saverole"></td>
                    </tr>
                </tfoot>
         </table>
     </form>
<?php
 }
 ?>

<!--GruppeRole  -->
<?php if($this->onlygrprole && $this->onlygrpname)
{
?>
     <form action="" method="post" id="GruppeRole" class="clear">
         <input type="hidden" name="hiddengrpname" id="hiddengrpid" value="<?php echo $this->onlygrpname->getGroupId(); ?>">
         <table id="listTable">
                <thead>
                    <tr>
                        <th>Gruppe</th>
                        <th>Aktuelle Rolle</th>
                        <th>Rolle</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="">
                        <?php echo $this->onlygrpname->getName();?>
                        </td>
                        <td> <?php echo $this->RoleName[$this->onlygrprole->getRoleId()];?></td>
                        <td class="maxWidth">
                            <select name="rolegrpname" id="groupSearch" class="vAlignMiddle">
                                <option selected="selected" value="<?php echo $this->onlygrprole->getRoleId();?>">
                                     -- Neue Rolle Auwählen--</option>
                                <?php
                                foreach ($this->RoleName as $key => $value)
                                {
                                ?>
                                    <option value="<?php echo $key ?>">
                                    <?php echo $value ?></option>

                                    <?php
                                    }
                                    ?>
                            </select>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="submit" value="speichern" name="grupperolesichern" id="safeCrud"></td>
                    </tr>
                </tfoot>
            </table>
        </form>
<?php
}
?>









            </section>
            </div>

<div id="slider">
    <div>
    </div>
</div>

<script>
<?php
if(isset($this->error)){
    ?>
    globalNotification({error: '<?php echo $this->error ?>'});
    <?php
}
?>
</script>
<script>
<?php
if(isset($this->success)){
    ?>
    globalNotification({success: '<?php echo $this->success ?>'});
    <?php
}
?>
</script>
<script>
<?php
if(isset($this->warning)){
    ?>
    globalNotification({warning: '<?php echo $this->warning ?>'});
    <?php
}
?>
</script>