<div>
    <section>
        <h2>CRUD-Rechte vergabe</h2>
        <form action="/admin/crud" method="post" id="groupSearchForm">
            <select name="group" id="groupid" class="vAlignMiddle" onChange="this.form.submit()">
                <option value="0" selected="selected">
                <?php
                if ($this->groupname)
                    echo $this->groupname->getName();
                else
                    echo "-- Suche die Gruppe aus --";
                ?> </option>
                   <?php
               foreach ($this->grouparrayname as $groupobjekt) {
                   if (($this->groupname and ($groupobjekt->getGroupId()
                        !== $this->groupname->getGroupId()))
                        xor !($this->groupname)) {
                    ?>
                    <option value="<?php echo $groupobjekt->getGroupId(); ?>">
                        <?php echo $groupobjekt->getName(); ?>
                    </option>
                     <?php
                   }
               }
               ?>
            </select>
        </form>
    </section>
</div>

<?php
if ($this->groupname) {
?>
<div>
    <section>
        <form action="/admin/crud" method="post" onreset="return ResetCheck()" id="globalroleid" class="clear">
            <input type="hidden" name="group" id="groupidname" value="<?php echo $this->groupname->getGroupId();?>">
            <table id="listTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Aktuelle Rechte</th>
                        <th>Neue Rechte</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                $i = 0;
                foreach ($this->user as $userinfo) {
                    ?>
                    <tr>
                        <td>
                            <?php echo $userinfo['UserId']?>
                            <input type="hidden" name="<?php echo 'hiddenuser'.$i?>"
                            id="hiddenuserID" value="<?php echo $userinfo['UserId']?>">
                        </td>
                        <td>
                            <?php echo $userinfo['FirstName']." ".$userinfo["LastName"]?>
                        </td>
                        <td>
                            <?php echo $userinfo['RoleName']?>
                        </td>
                        <td>
                            <select name="<?php echo 'role'.$i?>" id="roleSearch" class="valignMiddle">
                                <option value="0" selected="selected">neue Rechte auswählen</option>
                                <?php
                                foreach ($this->role as $key => $value) {
                                ?>
                                <option value="<?php echo $key?>">
                                    <?php echo $value?>
                                </option>
                                <?php
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                <?php
                    $i++;
                }
                ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" align="right"></td>
                        <td><input type="submit" value="Speichern" name="groupsave" id="savegroup"></td>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" name="sizeofarray" value="<?php echo $i; ?>">
        </form>
    </section>
</div>

<?php
}
?>

<script type="text/javascript">
$(document).ready(function()
{
    /* Init DataTables */
   $('#listTable').dataTable();
} );


<?php
if (isset($this->error)) {
?>
    globalNotification({success: '<?php echo $this->error ?>'});
<?php
}
?>

<?php
if (isset($this->warning)) {
?>
    globalNotification({warning: '<?php echo $this->warning ?>'});
<?php
}
?>


</script>