#informations{
    width:400px;
    float:right;
    overflow:auto;
    height:100%;
}
#infoHolder{
    background:#fff;
    position:fixed;
    right:50px;
    top:60px;
    left:50px;
    bottom:50px;
    z-index: 100;
    overflow:hidden;
    box-shadow:0 0 100px 10px black;
}
#informations header{
    margin-top:10px;
}
#informations input{
    width: 360;
}
#closeInformations{
    float:right;
}
#preview{
    text-align:center;
    /*height:99%;*/
    /*float:left;*/
    display:table-cell;
    vertical-align: middle
    /* width is calculatet via javascript document.width - 100px - 400px -20px*/
}
#preview:empty:before {
   content: "Keine Vorschau Verfügbar";
}
#editor{
    height:100%;
    width:100%;
}
#preview *{
    text-align:left;
}
#changes{
    top:0px;
    white-space:pre;
    overflow:auto;
    /* width is calculatet via javascript document.width - 100px - 400px -20px*/
}
del{
    text-decoration:none;
    background:#f00;
}
ins{
     text-decoration:none;
     background:#0f0;
}