body{
     /*min-height: 1000px; damit im body genug platz für eine notiz ist */
    /* warum ist der body nicht so groß wie sein inhalt also bis unten zum footer?? -Roland */
}

.noticeContent, .notice  .displayChanges{
    background:transparent;
    border:none;
    padding:0;
    margin:10px;
    width:400px;
    resize:none;
    height:200px;
    overflow:auto;
    white-space:pre;
    vertical-align:top;
}
.notice{
    display:inline-block;
    background:#FCFBB8;
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
    position:relative;
    top:5px;
    left:5px;
}
.notice:hover{
    box-shadow:3px 3px 7px rgba(0,0,0,0.6);
    z-index:auto;
}
.noticeHeader{
    padding:5px;
    background:#F0F0B0;
    font-weight:bold;
}
.noticeInfo{
    padding:10px;
    border-bottom: 1px solid #000;
}
.noticeInfo span{
    min-width:100px;
    display:inline-block;
}

.noticeSpan{
    color: black;
    cursor: pointer;
}

.noticeSpan:hover{ 
    color:#2A6496;
    text-decoration: underline; 
}
del{
    text-decoration:none;
    background:#f00;
}
ins{
     text-decoration:none;
     background:#0f0;
}