@font-face {font-family:'Helvetica Neue';src:url('HelveticaNeueLTStd-Roman.otf');src:url('HelveticaNeueLTStd-Roman.otf') format('OpenType')}
@font-face {font-family: 'IconicFill'; src: url('iconic_fill.eot'); src: url('iconic_fill.eot?#iefix') format('embedded-opentype'), url('iconic_fill.ttf') format('truetype'), url('iconic_fill.svg#iconic') format('svg')}
/**
 * reset
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
fieldset,img {border:0}
ol,ul {list-style:none}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
a {text-decoration:none}
/**
 * icons
 */
.yamIcon {font-family:'IconicFill';display:inline-block;color:#fff;padding:0 5pt}
.Logout:before {content:'\2713'}
.Edit:before {content:'\e078'}
.Watch:before {content:'\e079'}
.Calendar:before {content:'\e06c'}
.Course:before {content:'\e069'}
.Trash:before {content:'\e05a'}
.View:before {content:'\e025'}
.Key:before {content:'\26bf'}
.Mail:before {content:'\2709'}
.Upload:before {content:'\e043'}
.Download:before {content:'\e016'}
.Plus:before {content:'\2795'}
.User:before {content:'\e062'}
.More:before {content:'\e016'}
/**
 * general
 */
body {background-color:#F1F1F1;font-family:'Helvetica Neue'}
p,span,h1,h2,h3,h4,h5,h6,input,a,table {font-family:'Helvetica Neue','sans-serif';color:#404040}
a,input,span{transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-moz-transition:all 0.3s ease;outline:none;behavior:url(PIE.htc)}
p,span,input,a {font-size:1em}
h1 {font-size:2em;font-weight:bold}
h2 {font-size:1.7em}
h3 {font-size:1.5em}
h4 {font-size:1.3em}
h5 {font-size:1.2em}
h6 {font-size:1.1em}
.yamLogo {display:block;background:url(../images/yam_icon.png);height:50px;width:50px;float:left;margin-top:5px}
.yamHeadText {color:#FFF}
hr {color:#C2DAE4}
.yamTextlink {color:#437388}
.yamTextlink:hover {color:#508098}
.yamPanel {display:inline-block;border:1px solid #C2DAE4;padding:5px;border-radius:5px;behavior:url(PIE.htc);overflow:hidden}
.yamContainer {display:block;border:1px solid #C2DAE4;margin:3px 0;overflow:hidden}
.yamContainertitle {display:block;padding:3px;background-color:#C2DAE4}
.yamContainercontent {padding:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box}
.yamNotAvailable{opacity:0.2;box-shadow:inset 0 0 3px #333;background-color:#404040}
.yamNotAvailable:hover{opacity:0.2;box-shadow:inset 0 0 3px #333;background-color:#404040}
.listtrigger {cursor:pointer}
.yamSection {display:block;overflow:hidden;background-color:#F1F1F1;padding:5px;margin:5px 0}
.yamButtonlink {cursor:pointer;color:#FFF;padding:5px;display:inline-block;background-color:#437388;margin:3px 0}
.yamButtonlink:hover {background-color:#508098}
.yamAddlink {color:#437388;padding:5px;display:inline-block;background-color:#C2DAE4}
.yamAddlink:hover {background-color:#D4EBF7}
/**
 * layout
 */
.yamModule {width:960px;margin:0 auto;overflow:hidden}
.yamSite {margin:0 auto;background-color:#FFF;padding:75px 20px 10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box}
.yamDatablock {margin:20px 0 }
.unit {float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box}
.unit1of4 {width:25%}
.unit3of4 {width:75%}
.unit1of5 {width:20%}
.unit2of5 {width:40%}
.unit3of5 {width:60%}
.unit1of10 {width:10%}
.unit2of10 {width:20%}
.unit7of10 {width:70%}
.yamLogin {margin:30px auto;width:400px;background-color:#F1F1F1}
.yamUnit {border-left:1px solid #333;padding:10px}
.yamFooter {margin:20px 0 50px 0}
.yamHint {color:#AAAAAA}
.yamMarkedtext {font-weight:bold}
.yamTopbar {background-color:#1A343B;box-shadow:0 0 5px #404040;position:absolute;width:100%;behavior:url(PIE.htc)}
.yamLogoDesc {display:inline-block}
.yamHeadmenu {float:right}
.yamHeadmenu li {float:left}
.yamHeadmenuItem {padding:20px;color:#FFF;display:inline-block;font-size:1.1em}
.yamHeadmenuItem:hover {background-color:#508098}
.yamSubmenuTrigger:hover > .yamSubmenu {display:block}
.yamSubmenu {width:210px;position:absolute;display:none;background-color:#FFF;border:1px solid #1A343B;z-index:9999}
.yamSubmenuItem {display:block;width:200px;text-align:center;background-color:#437388;padding:5px;color:#FFF}
.yamSubmenuItem:hover {background-color:#508098}
.yamHiddenlist {display:none;position:absolute;border:1px solid #C2DAE4;background-color:#FFF;padding:5px}
.yamMessagearea {padding:10px;display:inline-block;border:1px solid #C2DAE4;margin:5px 0px}
.yamExtendedHiddenlist {display:none;position:realtive;border:1px solid #C2DAE4;background-color:#FFF;padding:5px}
/**
 * form elements
 */
label {padding:5px 0}
label,input,textarea,select {display:block}
input[type="file"], input[type="text"], input[type="password"], input[type="email"], select, textarea {border:1px solid #C2DAE4;padding:5px;background-color:#E8EFF2;border-radius:5px;behavior:url(PIE.htc)}
input[type="text"]:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea:focus {box-shadow:0 0 10px #C2DAE4}
input[type="submit"] {padding:5px 10px;display:inline-block;background-color:#437388;color:#fff;border:none;margin:5px 0}
input[type="submit"]:hover {cursor:pointer;background-color:#508098}
input[type="checkbox"] {float:left;margin:2px 10px 0 0}
textarea {resize:none;width:300px;height:100px}
.yamAddlinkForm {color:#437388;padding:6px 10px;display:inline-block;background-color:#C2DAE4;margin:3px 0 3px -5px}
.yamAddlinkForm:hover {background-color:#D4EBF7}
.yamInputErrorMessage {color:#F77;display:inline-block;padding:5px;border:1px solid #F77;min-width:200px;border-radius:5px;background-color:#Fee;position:relative}
.yamInputErrorMessage:before {content:'';border-bottom:10px solid #F55;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;margin-top:-15px}

/**
 * table
 */
table {margin:0 auto;width:100%;padding:5px}
th {background-color:#1A343B;padding:10px;color:#FFF;text-align:left}
tr:hover {background-color:#F1F1F1}
td {padding:10px}

/**
 * category tree helper style
 */
.maintrigger {cursor:pointer;background-color:#C2DAE4;color:#437388;padding:5px}
.trigger {color:#437388;padding:5px}
.extendtrigger {color:#437388;padding:5px;margin:3px 0 0;cursor:pointer}
.yamRootUL {display:block;border:1px solid #C2DAE4;border-radius:5px;behavior:url(PIE.htc);padding:5px;}
.yamRootUL li {padding:5px 0 5px 5px}
.yamChildUL {padding:10px 0 10px 10px;display:none}
.yamChildUL li {padding:5px 0 5px 5px}
/**
 * autocompletion
 */
#autoBox {display:none;width:200px;padding:3px;border:1px solid #ccc;position:absolute;background-color:#FFF}
.example {}
/**
 * refresh (need to be last)
 */
.yamInline {display:inline-block;margin:0px 2px}
.yamBlock {display:block}
.yamFloatingcontentRight {float:right}
.yamFloatingcontentLeft {float:left}
.yamCentered {text-align:center}
.yamReset {margin:0}
.SubSub {margin:-20px 0 0 200px }