body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color:#F1F1F1;
    font-family: Helvetica; /* ersetzen 'Helvetica Neue' */
    font-size: 16px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

footer {
    position: fixed;
    bottom: 0;
    color: #fff; 
    background-color: #777;
    border-top: 1px solid #fff;
    padding-top: 10px;
    width: 100%;
}

footer div {
    margin: 0 auto;
    max-width: 1170px;
}

footer p {
    vertical-align: middle;
    font-size: 12px;   
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    cursor: pointer;
}





/*
 * Custom Layout
 */





#wrapper {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: -30px;
}

/* Braucht man das? -Roland
 * #content {
    position: relative;
    margin-bottom: 20px;
    float: left;
    width: 100%; 
}*/

#nav {
    float: right;
    margin-bottom: 20px;
}

#nav li {
    list-style-type: none;
    float: left;
    margin-left: 10px; 
}

.floatLeft {
    float: left;
}
.clear {
    clear: both;
}

#userSearchForm, #groupSearchForm {
    margin-right:20px;
}

.maxWidth {
    width: 50px;
    height: 20px;    
    /*text-align: center;*/
    vertical-align: middle;
}

.alignCenter {
    text-align: center;
}

input {
    vertical-align: middle;
}

#footer {
    text-align: center;
    height: 10px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 5px;
    color: #333;
    font-size: 0.8em;
}

#forms {
    height: 50px;
}

.vAlignMiddle {vertical-align:middle;}



/**
 * form elements
 */

label {padding:5px 0}

/*label,input,textarea,select {display:block}*/

input[type="file"], 
input[type="text"], 
input[type="password"], 
input[type="email"],
input[type="search"], 
select, 
textarea {
    border:1px solid #C2DAE4;
    padding:5px;
    background-color:#E8EFF2;
    border-radius:5px;
    behavior:url(PIE.htc)
}

input[type="text"]:focus, 
input[type="file"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
select:focus, 
textarea:focus {box-shadow:0 0 10px #C2DAE4}

input[type="submit"] {
    padding:5px 10px;
    display:inline-block;
    background-color:#437388;
    color:#fff;
    border:none;
    margin:5px 0;
	/* width:150px; */
}

input[type="submit"]:hover {
    cursor:pointer;
    background-color:#508098
}

input[type="reset"] {
    padding:5px 10px;
    display:inline-block;
    background-color:#437388;
    color:#fff;
    border:none;
    margin:5px 0;
	width:150px;
}


input[type="reset"]:hover {
    cursor:pointer;
    background-color:#508098
}


#metaDataInputText {
   border:1px solid #C2DAE4;
    padding:3px;
    background-color:#E8EFF2;
    border-radius:3px;
    width:133px;
}

#metaDataInputText:focus {
    box-shadow:0 0 10px #C2DAE4;
}

input[type="checkbox"] {
    margin:1px 1px 0 0;
	
}

textarea {
    resize:none;
    width:300px;
    height:100px
}

.yamAddlinkForm {
    color:#437388;
    padding:6px 10px;
    display:inline-block;
    background-color:#C2DAE4;
    margin:3px 0 3px -5px
}

.yamAddlinkForm:hover {background-color:#D4EBF7}

.yamInputErrorMessage {
    color:#F77;
    display:inline-block;
    padding:5px;
    border:1px solid #F77;
    min-width:200px;
    border-radius:5px;
    background-color:#Fee;
    position:relative
}

.yamInputErrorMessage:before {
    content:'';
    border-bottom:10px solid #F55;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position:absolute;
    margin-top:-15px
}

/**
 * table
 */
table {margin:20px auto;width:100%;padding:5px;table-layout:fixed}
th {background-color:#1A343B;padding:5px;color:#FFF;text-align:left}
tfoot {border-top: 1px solid #1A343B;}
tr:hover {background-color:#F1F1F1}
tr:nth-child(odd) {background-color: #ccc}
tr:nth-child(even) {background-color: #ddd}
td {padding:5px;}

#metaDataHead150 {
    width: 150px;
}

#metaDataHead100 {
    width: 100px;
}

#logintbl {
    width:auto;
}

#logout a{
    position: absolute;
    right: 3px;
    bottom: 5px;
    color: #fff;
    height: 50px;
    text-decoration: none;
    vertical-align: middle;
    padding: 15px;
    margin-bottom: -5px;
}

#logout a:hover {
    background-color:#508098;
}

#about a{
    position: absolute;
    right: 80px;
    bottom: 5px;
    color: #fff;
    height: 50px;
    text-decoration: none;
    vertical-align: middle;
    padding: 15px;
    margin-bottom: -5px;
    cursor: pointer;
}

#about a:hover {
    background-color:#508098;
}

div.alertbox { 
    position: absolute;
    margin: 0 auto; 
    width: 375px; 
    height: auto; 
    background-color: #fff; 
    border-radius: 5px; 
    border: 1px solid #999; 
    color: #000; 
    list-style:none; 
    padding: 5px;
    display: none;
    font-size: 12px;
    left: 38%;
    top: 16%;
}

div.alertbox span#close {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: underline;
}

div.alertbox a {
    color: #508098;
}

div.alertbox ul {
    list-style: none;
    margin-left: -30px;
}

/* Roland */
.edit-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/edit-16.png);
    cursor:pointer;
}
.delete-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/delete-16.png);
    cursor:pointer;
}
.accept-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/accept-16.png);
    cursor:pointer;    
}
.back-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/back-16.png);
    cursor:pointer;    
}
.info-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/info-16.png);
    cursor:pointer;    
}
.save-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/save-16.png);
    cursor:pointer;    
}
.menue{
    background:#eee;
}
.circle-16{
    display:inline-block;
    height:16px;
    width:16px;
    margin:0 5px;
    background:#f00;
    line-height:16px;
    text-align:center;
    border-radius:5px;
    cursor:default;
}
.dirs div,.dirs td{
    border:1px solid #fff;
    padding-left: 20px;
    line-height:20px;
    font-size:16px;
    margin-top:1px;
    border-radius:2px;
    cursor:default;
    /* unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dirs .dir{
        background:url(../img/folder-16.png) no-repeat 0 center;
}
.dirs .png{
        background:url(../img/img-16.png) no-repeat 0 center;
}
.dirs .notice{
        background:url(../img/notice-16.png) no-repeat 0 center;
}
.dirs div:hover{
    background-color:#C1CFDB;
}
.dirs .selected{
    border:1px solid #00f;
    background-color:#C1CFDB;
}



#nav {
    position:relative;
    margin:0;
    padding:0;
    float:left;
    border-right:1px solid #C2C2C2;
}

ul#navigation {
    margin:0;
    padding:0;
    position:relative;
    float:left;
}

ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    border-top:1px solid #c4dbe7;
    border-bottom:1px solid #c4dbe7;
}

ul#navigation li a {
    padding:10px 25px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;
    
    -webkit-transition:color 0.2s linear, background 0.2s linear;   
    -moz-transition:color 0.2s linear, background 0.2s linear;  
    -o-transition:color 0.2s linear, background 0.2s linear;    
    transition:color 0.2s linear, background 0.2s linear;   
}

ul#navigation li a:hover {
    background:#f8f8f8;
    color:#282828;
}

ul#navigation li:hover > a {
    background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
    opacity:0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 
    transition:opacity 0.2s linear, visibility 0.2s linear; 
        
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}


/*-----------------------------------------------------------------------------------------------------------*/


#slider{
    width:35%;
    height:100%;
    border-left:4px solid #adafaf;
    background:#F5F5F5;
    color:#000;
    position:fixed;
    top:0;
    right:-35%;
    z-index: 100000;
}
#slider div {
    margin: 5px;
    position: absolute;
    top: 7px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 5px;
    width: 100%;
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 100001;
}
#slider div ul {
    margin-left: 17px;
    list-style: disc;
}

#sliderButton{
    position:absolute;
    top:50%;
    /*margin-top:-75px;*/
    left:-64px;
    width:90px;
    height:30px;
    background:#e96b10;
    color:#fff;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
}
#sliderButton:hover {
    cursor:pointer;
}
#sliderButton span {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    bottom:2px;
    right:27px;
}