/*** Original Styles ***/
#big {
  background: #fff;
  text-align: left;
  width: 100%;
}
#big.nofl,
#small.nofl {
  float: none;
  width: 100%;
}
#contractSheet h3,
#formerContractSheet h3 {
  font-size: 14px;
  margin: -10px -10px 0;
  padding: 4px 10px;
}
#contractSheet input[type=file],
#formerContractSheet input[type=file] {
  margin: 10px 0;
}
#contractSheet,
#formerContractSheet {
  -moz-border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
  position: absolute;
  right: 50px;
  top: 45px;
  width: 300px;
}
#editContact input[type=Text] {
  padding: 3px;
  width: 50%;
}
#editContact input[type=Text],
#editContact select {
  border: 1px solid #4284C7;
  color: #000;
  font-size: 12px;
  padding: 0;
}
#fs_url-L,
#fs_url {
  font-size: .9em;
  width: 70%;
}
/*#head .wrapper {
    margin: 0 10px;
}*/
#homepage {
  border: 0;
  float: left;
  height: 35px;
  width: 208px;
}
#lastmemos {
  border: 1px solid #20558B;
}
#lastmemos #memohistory {
  height: 400px;
  margin-bottom: 15px;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
}
#lastmemos #memohistory div.memo h4 {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: #4284c7 left no-repeat;
  color: #FFF;
  font-size: 12px;
  margin: 5px 0 0;
  padding: 8px 8px 8px 27px;
}
#lastmemos #memohistory div.memo h4 + p + dl dt,
#lastmemos #memohistory div.memo h4 + p + dl dd {
  padding-top: 3px;
}
#lastmemos #memohistory div.memo h4.EmailMemo {
  background-image: url(../img/travel/viaEmail.gif);
}
#lastmemos #memohistory div.memo h4.FaxMemo {
  background-image: url(../img/travel/viaFax.gif);
}
#lastmemos #memohistory div.memo h4.PersoenlichMemo {
  background-image: url(../img/travel/viaPers.gif);
}
#lastmemos #memohistory div.memo h4.PostMemo {
  background-image: url(../img/travel/viaPost.gif);
}
#lastmemos #memohistory div.memo h4.TelefonMemo {
  background-image: url(../img/travel/viaTel.gif);
}
#lastmemos #memohistory div.memo li {
  background: transparent url(../img/travel/datPDF.gif) left no-repeat;
  padding: 2px 3px 0 20px;
}
#lastmemos #memohistory div.memo p {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  background: #FFF;
  border: 1px solid #4284C7;
  font-size: 12px;
  margin: 0;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
#lastmemos #memohistory div.memo p strong {
  display: block;
  padding-bottom: 12px;
}
#lastmemos #memohistory div.memo ul {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  background: #d9e6f4;
  color: #20558B;
  font-size: 11px;
  line-height: 150%;
  list-style: none;
  margin: -12px 0 0;
  padding: 16px 7px 7px;
  position: relative;
  z-index: 1;
}
#lastmemos #memohistory > div#memoFilter {
  background: #d9e6f4;
  font-size: 12px;
  margin: -10px -10px 15px;
  padding: 7px 10px;
}
#lastmemos #memohistory > div#memoFilter h3 {
  color: #20558B;
  font-size: 12px;
}
#lastmemos #memohistory > div#memoFilter li a:hover {
  text-decoration: none;
}
#lastmemos #memohistory > div#memoFilter li input {
  color: #000;
  font-size: 9px;
  padding: 0;
}
#lastmemos #memohistory > div#memoFilter li select {
  border: 1px solid #4284C7;
  color: #000;
  font-size: 11px;
  padding: 0;
}
#lastmemos #memohistory > div#memoFilter li,
#lastmemos #memohistory > div#memoFilter li a {
  color: #000;
  font-size: 11px;
  line-height: 120%;
  padding-top: 5px;
}
#lastmemos #memohistory > div#memoFilter ul,
ul.attachList {
  list-style: none;
  margin: 0;
  padding: 0;
}
#lastmemos #memohistory > div.memo {
  padding: 0 0 10px;
}
#lastmemos #memohistory > div.memo span {
  color: #20558B;
  display: block;
  font-size: 11px;
  text-align: center;
}
#login .txt:focus,
div.image a:hover span {
  color: #1487D1;
}
#message {
  font: bold 10px Verdana;
  padding: 5px;
  visibility: hidden;
}
#newmemo {
  background: #d9e6f4;
  border: 1px solid #20558B;
  border-top: 5px solid #20558B;
  margin: -16px 0 15px;
  padding: 5px 10px 0;
}
#newmemo #memoTo {
  width: 68%;
}
#newmemo #memoType {
  width: 30%;
}
#newmemo #memoform > input,
#newmemo #memoform > select,
#newmemo textarea {
  border: 1px solid #20558B;
  color: #000;
  font-size: 12px;
  margin: 0 0 10px;
  padding: 0;
}
#newmemo #memoform > input[type=image][value=save] {
  border-width: 0;
  clear: right;
  float: right;
}
#newmemo #memotext {
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
}
#newmemo h4 {
  color: #20558B;
  font-size: 12px;
  margin: 0 0 5px;
}
#newmemo input#betreff,
#newmemo #memotext {
  padding: 2px 5px;
  width: 96%;
}
#small {
  float: right;
  width: 35%;
}
#tabwrap #contacts {
  margin-bottom: 15px;
  position: relative;
}
#tabwrap #contacts h3 input {
  float: right;
  margin: -2px -3px 0;
}
#tabwrap #contacts table {
  border: 1px solid #20558B;
  border-collapse: collapse;
  display: block;
  line-height: 110%;
}
#tabwrap #contacts table img[alt=Info] {
  margin-left: 5px;
}
#tabwrap #contacts table td {
  padding: 10px 5px;
}
#tabwrap #contacts table td:first-child span {
  color: #666;
  display: block;
  font-size: 10px;
}
#tabwrap #contacts table td:first-child,
#tabwrap #contacts table th:first-child {
  border-left: 1px solid #20558B;
  width: 100%;
}
#tabwrap #contacts table th {
  background-color: #D9E6F4;
  padding: 3px 5px;
}
#tabwrap #contacts table tr {
  border-top: 1px solid #DDD;
}
#tabwrap #contacts table tr:first-child {
  border-top: 0 solid #DDD;
}
#tabwrap #contacts + * {
  clear: both;
  display: block;
  padding-left: 1px;
}
#tabwrap #contractData {
  clear: both;
  position: relative;
}
#tabwrap #contractData dl,
dl.d_list {
  border: 1px solid #20558B;
  border-top: 0 solid;
  line-height: 130%;
  margin: 0;
  padding: 5px;
}
dl.d_list {
  border: 0;
  padding: 0;
}
#tabwrap #contractData dl dd,
dl.d_list dd {
  background-color: #FFF;
  margin-left: 195px;
}
#tabwrap #contractData dl dt,
.blueBox dl.overview dt,
dl.d_list dt {
  clear: left;
  float: left;
  font-weight: 700;
  text-align: right;
  width: 175px;
}
#tabwrap #contractData h3 input,
#tabwrap #contractData h3 select,
#tabwrap #contractData h3 label,
div.blueBox > h3 input,
div.blueBox > h3 select {
  display: inline-block;
  float: right;
  margin: -2px 1px 0 5px;
}
#tabwrap #contractData h3 select {
  border: 1px solid #000;
  color: #000;
  font-size: 12px;
  height: 20px;
  margin: 0;
  padding: 0;
}
#tabwrap #contractData h5 {
  background-color: #D9E6F4;
  border-left: 1px solid #20558B;
  border-right: 1px solid #20558B;
  color: #000;
  margin: 0;
  padding: 5px 10px;
  position: relative;
}
#tabwrap #contractData h5 a,
div.blueBox > h5 a,
div.blueBox > h3 a.pseudoButton {
  display: inline-block;
  float: right;
  margin: -2px 0 0 5px;
}
#tabwrap #contractData h5 a.editButton,
div.blueBox > h3 a.editButton,
div.blueBox > h3 a.big,
div.blueBox > h5 a.editButton,
div.blueBox > h5 a.big {
  margin-top: -4px;
}
#tabwrap #contractData h6 {
  background-color: #D9E6F4;
  border-left: 1px solid #20558B;
  border-right: 1px solid #20558B;
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
}
#tabwrap #contractData h6.warnung {
  background-color: red;
  color: #FFF;
}
#tabwrap #editContact {
  clear: both;
  margin-bottom: 15px;
}
#tabwrap #editContact dl dd input[value=save] {
  margin: -16px 10px 0 0;
  padding: 0;
}
#tabwrap #editContact dl dd input[value=save] + a {
  display: inline-block;
  height: 22px;
  margin: 10px 0 0;
  padding: 0;
  width: 84px;
}
#tabwrap #leftSide {
  float: left;
  width: 585px;
}
#tabwrap #leftSide2 {
  float: left;
  margin-left: 200px;
  margin-top: 10px;
  width: 585px;
}
#tabwrap #leftSide > div + div {
  margin-top: 15px;
}
#tabwrap #rightSide {
  float: left;
  padding-left: 15px;
  width: 400px;
}
#tabwrap #vadata {
  margin-bottom: 10px;
}
#tabwrap #vadata dl dd .preField,
#editContact input[type=checkbox] + label {
  display: inline-block;
  width: 40%;
}
#tabwrap #vadata dl dd img {
  margin: 0 5px 0 0;
}
#tabwrap #vadata dl dd input[type=Text],
#tabwrap #vadata dl dd textarea {
  border: 1px solid #4284C7;
  font-size: 12px;
  margin: 0 0 3px;
  padding: 3px 5px;
}
#tabwrap #vadata dl dd input[value=save] {
  margin: -15px 10px 0 0;
  padding: 0;
}
#tabwrap #vadata dl dd input[value=save] + a {
  display: inline-block;
  height: 22px;
  margin: 0;
  padding: 0;
  width: 84px;
}
#tabwrap #vadata dl dd,
#tabwrap #editContact dl dd {
  background-color: #FFF;
  margin-left: 185px;
}
#tabwrap #vadata dl dt,
#tabwrap #editContact dl dt {
  clear: left;
  float: left;
  font-weight: 700;
  text-align: right;
  width: 165px;
}
#tabwrap #vadata dl,
#tabwrap #editContact dl {
  border: 1px solid #20558B;
  line-height: 130%;
  margin: 0;
  padding: 5px;
}
#tabwrap #vadata dl > *,
#tabwrap #contractData dl > *,
#tabwrap #editContact dl > *,
.blueBox dl.overview dt,
.blueBox dl.overview dd {
  padding: 5px 10px;
}
#tabwrap #vadata > h3 a {
  float: right;
  margin: -1px 0 0;
}
#tabwrap #vadata > h3,
#tabwrap #contacts > h3,
#lastmemos > h3,
#contractData > h3,
#editContact > h3 {
  background: #20558B;
  color: #FFF;
  margin: 0;
  padding: 5px 10px;
}
#windowMessage {
  position: absolute;
}
#wrap_Gruppe h5 {
  /*border:1px solid #666;*/

}
#wrap_Allgemein table.unews td,
#wrap_Gruppe table.unews td {
  border: 0;
  border-bottom: 1px solid #356AA0;
}
* html #window,
#window {
  -moz-opacity: 0.0;
  opacity: 0.0;
  position: absolute;
  z-index: 1005;
}
.action {
  padding: 10px;
}
p.bbdatetime {
  background: none;
  font-size: 11px;
  margin-top: 30px;
  text-align: left;
  text-decoration: underline;
  width: 110px;
}
.bbdatetime span {
  color: #fff;
  display: block;
  font-size: 11px;
  height: 16px;
  margin: 0;
  padding: 3px 0 5px;
  text-align: center;
}
.bbdepartment,
.bbdatetime p,
.bbdate {
  color: #666;
  font-size: 10px;
}
a[rel="external"] {
  background: url(../img/external.png) 99% 40% no-repeat;
  padding-right: 15px;
}
.bbentry {
  float: left;
  margin: 10px;
  width: 75%;
}
.bbentry h3 {
  margin-bottom: 7px;
}
.bbmenu {
  color: #000;
  display: block;
  margin: 3px;
  text-align: right;
}
.bb-image-without-width {
  margin: 5px;
}
.blueBox dl.overview {
  line-height: 130%;
  margin: 0;
  padding: 5px;
}
.blueBox dl.overview dd {
  clear: right;
  margin-left: 195px;
}
.blueBox dl.overview dd input + label {
  color: #777;
}
.blueBox dl.overview dd input[type=checkbox] + label {
  color: #000;
}
.blueBox dl.overview dd input[type=text],
.blueBox dl.overview dd input[type=date],
.blueBox dl.overview dd select,
.blueBox dl.overview dd textarea {
  border: 1px solid #20558B;
  font-size: 12px;
}
.blueBox dl.overview dd input[type=text],
.blueBox dl.overview dd input[type=date],
.blueBox dl.overview dd textarea {
  margin: 0 0 3px;
  padding: 3px 5px;
}
.blueBox dl.overview dd select {
  padding: 0;
}
.clr {
  clear: both;
}
.col2 {
  background: #fafafa;
}
.comment {
  color: #4d4d4d;
  font-size: .9em;
  font-style: italic;
}
.container hr {
  border-bottom: 1px solid #bfbfbf;
  margin: 3px;
}
.container li {
  margin: 1px 0 1px -20px;
}
.container td,
.container th {
  text-align: left;
  vertical-align: top;
}
.contentBlock {
  float: left;
  min-height: 120px;
  width: 480px;
}
.contents .msghead {
  display: block;
  font-weight: 700;
  margin-top: 8px;
}
/* remove after mitarbeiterbefragung finished */
.contents.item2,
#head,
#big,
.error,
.warning,
.success {
  border-top: 0;
}
.em {
  color: #3f4c6b;
  font-size: 1.1em;
  font-weight: 700;
}
.error {
  background-color: #E6CCCC;
  background-image: url(../img/icons/exclamation.png);
  background-position: 5px 50%;
  background-repeat: no-repeat;
  border: 1px solid #C00;
  color: #C00;
}
.hide {
  background: url(../img/arrow_up.gif) center no-repeat;
}
.hide,
.show {
  cursor: pointer;
  display: none;
  float: right;
  height: 14px;
  margin-top: 2px;
  padding: 4px 4px 3px;
  width: 14px;
}
.info {
  color: #c63;
  font-size: .9em;
}
.input {
  background: #FFF;
  border: 1px solid #4ca1d8;
  padding: 1px 2px;
}
#tabwrap #vadata dl dd input.inputsmall {
  background: #FFF;
  border: 1px solid #4ca1d8;
  height: 17px;
  margin-top: 2px;
  padding: 1px 2px;
  width: 60px;
}
.input .active {
  border: 1px solid #ca8;
}
.item {
  height: 1%;
  margin: 0 5px 5px 0;
  max-width: 790px;
  padding-bottom: 3px;
  text-align: left;
}
.item div.space {
  padding: 7px 7px 10px;
}
.item div.spacelr {
  padding: 7px 7px 0;
}
.item h3.bt {
  color: #fff;
  cursor: default;
  font-size: 1.2em;
  font-weight: 700;
  padding: 5px 8px 3px;
  text-transform: uppercase;
}
.jcalendar .activ {
  background: #fad0b2;
}
.jcalendar .inactiv:hover {
  background: #fc9;
}
.jcalendar .inactiv {
  color: #99cc80;
}
.jcalendar a,
.jcalendar a:link,
.jcalendar a:visited {
  background: none;
  cursor: pointer;
  padding: 0;
  padding: .2em .2em;
  display: inline-block;
}
.jcalendar td,
.jcalendar th {
  padding: 3px;
  text-align: center;
}
.line {
  border-top: 1px dotted #e9e9e9;
  height: 10px;
  margin-top: 10px;
}
.nowrap {
  white-space: nowrap;
}
.npp {
  margin: 3px;
}
.posRel {
  position: relative;
}
.report {
  background: #d9f2d9;
  border: 1px solid #66b366;
  color: #338033;
  font-style: italic;
  margin: 10px;
  padding: 2px 5px;
}
.row1 {
  background: none;
}
.row2 {
  background: #e6e6e6;
}
.row2 .col2 {
  background: #e0e0e0;
}
.show {
  background: url(../img/arrow_down_.gif) center no-repeat;
}
.small {
  font-size: .8em;
  width: 60%;
}
.success {
  background-color: #D9F2D9;
  background-image: url(../img/icons/accept.png);
  background-position: 5px 50%;
  background-repeat: no-repeat;
  border: 1px solid #338033;
  color: #338033;
}
.success,
.error,
.warning {
  color: #333;
  font-weight: bolder;
  line-height: 22px;
  margin: 10px;
  padding: 3px 0 3px 25px;
}
.title {
  background: #3c72d6;
  border-bottom: 1px solid #264989;
  border-left: 1px solid #264989;
  border-right: 1px solid #264989;
  border-top: 1px solid #264989;
  height: 1%;
  margin: 0 5px 5px 0;
}
.title h2 {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-left: 4px;
  padding: 3px;
  text-transform: capitalize;
}
.title h2 a {
  color: #fff;
}
.title h2 img {
  margin-right: 5px;
  vertical-align: text-top;
}
.versteckt,
.versteckt * {
  height: 1px;
  margin-top: -9999px;
  overflow: hidden;
  visibility: hidden;
}
a.asc {
  background: url(../img/order_arrows_up.gif) top left no-repeat;
  margin-top: .3em;
}
a.asc span,
a.desc span {
  display: none;
}
a.asc,
a.desc {
  float: left;
  height: 7px;
  margin-top: .4em;
  width: 9px;
}
a.asc:hover,
a.desc:hover {
  background-position: bottom left;
}
code,
.validation-advice,
label.required,
strong.required {
  color: red;
}
div.anim_load {
  background: url(../img/loader_blue.gif) center no-repeat;
}
div.anim_nok {
  background: url(../img/loader_orange.gif) center no-repeat;
}
div.anim_ok {
  background: url(../img/loader_green.gif) center no-repeat;
}
div.blueBox {
  background: #FFF;
  border: 1px solid #20558B;
  clear: both;
  line-height: 130%;
  margin: 0;
  padding: 5px;
}
div.blueBox > h3 {
  background: #20558B;
  color: #FFF;
  margin: -5px -5px 0;
  padding: 6px 10px 7px;
  text-align: left;
}
div.blueBox > h3 select {
  border: 1px solid #000;
  color: #000;
  font-size: 12px;
  height: 20px;
  padding: 0;
}
div.blueBox > h5 {
  background-color: #D9E6F4;
  color: #000;
  margin: 0 -5px;
  padding: 5px 10px;
}
div.containerMenu,
div.containerInfo {
  background: #FFF;
  border: 1px solid #9ecc8c;
  padding: 5px;
}
div.fileupload-rebrush {
  display: inline-block;
  height: 25px;
  margin-top: 1px;
  overflow: hidden;
  position: absolute;
}
div.fileupload-rebrush input.fileupload-rebrush-button {
  margin-right: 5px;
}
div.fileupload-rebrush input.fileupload-rebrush-field {
  background: transparent;
  border: 0;
  color: #20558B;
  font-family: arial;
  font-size: 12px;
  width: 200px;
}
div.fileupload-rebrush input.rebrush {
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}
div.image a {
  display: block;
  width: 176px;
}
div.image img {
  background: #fff;
  border-color: #E7E7E7;
  border-style: solid;
  border-width: 1px 1px 0;
  padding: 1px 1px 0;
  text-align: center;
}
div.image span {
  background: #ffffff url(../img/lens.gif) bottom right no-repeat;
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  color: #3C3C3C;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  height: 16px;
  margin-top: -2px;
  padding-left: 5px;
  text-align: left;
  text-transform: lowercase;
  width: 187px;
}
div.loader {
  height: 100%;
  vertical-align: bottom;
  width: 100%;
}
div.medium {
  float: none;
  margin: 0 auto 5px;
  width: 500px;
}
div.pager img,
#emailpager img,
label.postField img,
label.postField,
label {
  vertical-align: middle;
}
div.pager,
div.pagers,
div.pager_static,
p.action,
#emailpager {
  padding: 3px;
  text-align: center;
}
div[id~=formerContract] {
  border: 3px solid red !important;
}
dl.highlighted {
  background-color: #D9E6F4;
  border-top: 0 !important;
  margin-top: -2px !important;
}
dl.highlighted dd {
  background-color: transparent !important;
}
hr {
  border: 0;
  border-bottom: 1px solid #F1F1F1;
  margin: 9px 0;
}
img#windowClose {
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  z-index: 1007;
}
/* remove after mitarbeiterbefragung finished */
img,
tr.mabefragung {
  border: 0;
}
/* remove after mitarbeiterbefragung finished */
div.nomtop {
  margin-top: 0;
}
input + a.pseudoButton {
  margin-left: 10px;
  position: absolute;
}
label:hover,
.ok:hover,
.save:hover,
.cancel:hover,
.artcancel:hover,
h3.display:hover,
img#opencalendar,
img#opencalendarRZFrom,
img #opencalendarRZTill {
  cursor: pointer;
}
li {
  margin: 1px 0;
}
li.rsItem:hover {
  background: #69F;
}
option[value=Email] {
  background: transparent url(../img/travel/viaEmail_small.png) 3px no-repeat;
  padding-left: 20px;
}
option[value=Fax] {
  background: transparent url(../img/travel/viaFax_small.png) 3px no-repeat;
  padding-left: 20px;
}
option[value=Persoenlich] {
  background: transparent url(../img/travel/viaPers_small.png) 3px no-repeat;
  padding-left: 20px;
}
option[value=Post] {
  background: transparent url(../img/travel/viaPost_small.png) 3px no-repeat;
  padding-left: 20px;
}
option[value=Telefon] {
  background: transparent url(../img/travel/viaTel_small.png) 3px no-repeat;
  padding-left: 20px;
}
p {
  margin: 0;
  padding: .3em 0;
}
p.info {
  color: #BABABA;
  font-size: 1.2em;
  padding: 3px;
  text-align: center;
}
q {
  color: #4d4d4d;
}
small {
  color: #4d4d4d;
  cursor: pointer;
  font-size: .8em;
}
span.date {
  color: #8C8C8C;
  font-size: .8em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
/* remove after mitarbeiterbefragung finished */
div.mabefragung td div {
  color: #e68c02;
  display: inline;
  font-size: 1.05em;
  left: 378px;
  line-height: 0;
  position: relative;
  top: 18px;
  white-space: nowrap;
  z-index: 9999;
}
ul.attachList li {
  background: transparent url(../img/travel/datPDF.gif) left no-repeat;
  margin-top: -2px;
  padding: 2px 0 0 22px;
}
ul.attachList li + li {
  margin-top: 5px;
}
#return_top a {
  background: url(../img/return_top.gif) no-repeat left top;
  bottom: 15px;
  display: block;
  height: 99px;
  position: fixed;
  right: 15px;
  width: 18px;
}
#return_top a:hover {
  background: url(../img/return_top.gif) no-repeat right top;
}
#birthdayblock.contents ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}
#birthdayblock.contents ul li {
  float: left;
  font-size: 1.1em;
  width: 33%;
}
/* Abteilungsgruppe */
#groupItemList li.groupType1 {
  list-style-image: url(../img/icons/chart_organisation.png);
}
/* Arbeitsgruppe */
#groupItemList li.groupType2 {
  list-style-image: url(../img/icons/wrench.png);
}
/* Projektgruppe */
#groupItemList li.groupType3 {
  list-style-image: url(../img/icons/bricks.png);
}
ol.bbcommentslist {
  color: #666;
  list-style: none;
  margin: 5px 0 12px;
}
.bbcommentslist li {
  border: 1px solid #bbb;
  margin-bottom: 7px;
  padding: 7px 0;
}
p.bbauthor_meta {
  font-weight: 700;
  margin: 0 0 0 7px;
  text-transform: uppercase;
}
.bbcommentslist .bbcomment_text {
  line-height: 1.4em;
  margin: 0 7px;
  overflow: hidden;
}
.bbeg-image {
  display: block;
  float: right;
  height: 60px;
  margin: 0 10px;
  width: 60px;
}
.bbpost_meta {
  color: #333;
  font-size: .85em;
  margin: 10px;
}
p.bbpost_meta {
  font-size: 11px;
  margin: 0 7px 0 0;
  text-align: right;
}
span.filterblock {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
form.dropdownform {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#tab {
  width: 100%;
  margin: 0;
  padding: 0;
}
#tab,
#tab td,
#tab tr,
#tab th {
  border-spacing: 0;
  border-collapse: collapse;
}
#tab td,
#tab th {
  border: 0;
}
#tab td {
  text-align: left;
  vertical-align: top;
  color: #000;
  padding: 0;
}
#tab .lbl {
  text-align: right;
  background: #f9f9f9;
  border: 1px solid #D6BA3C;
  padding: 1px;
}
#tab th {
  background: #C3D9FF;
  font-weight: bolder;
  text-align: left;
  white-space: nowrap;
  color: #000;
  border-collapse: separate;
  border: 0;
  margin: 0;
  padding: 3px;
}
#tab tr td {
  padding: 2px;
}
#tab tr .table_ths td {
  border-bottom: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
}
#tab label {
  font-weight: 700;
}
#tab hr {
  height: 2px;
  width: 80%;
  margin: 0 auto;
}
.tab_odd {
  background: #e9e9e9;
}
.tab_even {
  background: #f9f9f9;
}
.tab_miss {
  background: #FC9;
}
.tab_miss:hover,
.tab_odd:hover,
.tab_even:hover {
  cursor: pointer;
}
.tab_value {
  color: #060606;
}
.tab_edit,
.tab delete {
  width: 1%;
}
ho .tab_edit a,
.tab_delete a {
  font-size: 1.1em;
}
.tab_name {
  text-align: left !important;
}
.tab_section_name {
  text-align: left !important;
  width: 30%;
}
.tab_description,
.tab_tag_name {
  width: 50%;
}
.tab_date {
  color: #8C8C8C;
  text-transform: lowercase;
  white-space: nowrap;
}
.tab_comments {
  color: #585858;
  text-transform: lowercase;
  white-space: nowrap;
}
.tab_setasdefault {
  font-size: 1.1em;
  width: 15%;
}
.tab_controls {
  height: 15px;
  margin: 0 7px 10px;
}
span.checkall {
  float: left;
}
table.customers {
  width: 100%;
}
table.search {
  background: #f1f1f1;
  width: 100%;
}
table.search caption {
  background: #356AA0;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #fff;
  padding: 5px 8px 3px;
}
table.search input[type=text] {
  /*background: url(../img/input_bg.gif) #d9ca82 no-repeat left top;*/
  border: #4CA1D8 1px solid;
  color: #585858;
  width: 79%;
  padding: 2px;
}
table.search input [type=text].focus {
  background: url(../img/input_focus_bg.gif) no-repeat left top;
  border: #bababa 1px solid;
  color: #3C3C3C;
  opacity: 1px !important;
  padding: 2px;
}
table.search td {
  width: 12%;
  text-align: left;
}
td.action {
  width: 40px;
}
td.details {
  text-align: left;
}
#tab .preField label {
  margin-left: 4px;
  text-align: left;
}
table#listlegend {
  text-align: left;
  background: #ddd;
  border: 1px dashed #999;
  font-size: 0.9em;
  margin: 20px auto 0;
}
table#listlegend thead tr td {
  border-bottom: 1px solid #999;
  font-size: 1em;
  font-weight: 700;
}
table#listlegend tbody tr td {
  font-weight: 400;
}
.item2 #tab {
  width: 100%;
  margin: 0;
}
.details {
  width: 100%;
  padding-left: 10px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 10px 10px 0;
}
.details span {
  border-bottom: 1px solid #ccc;
  display: block;
  margin-top: 10px;
}
.details .head {
  font-weight: bolder;
}
a.cumatchexpand {
  height: 18px;
  width: 18px;
  background: url(../img/access/tree_icons/nolines_plus.gif) no-repeat top left;
}
#tab td.red {
  color: red;
  font-weight: bolder;
}
#tab td.cyan {
  color: #8A2BE2;
  font-weight: bolder;
}
#tab td.color_yellow {
  background-color: #FF0;
}
#tab td.color_red {
  background-color: red;
}
#tab td.color_lightgreen {
  background-color: #9ACD32;
}
#tab td.color_darkgreen {
  background-color: green;
}
#tab td.color_orange {
  background-color: orange;
}
.tab_name a:link,
.tab_name a:visited,
.tab_section_name a:link,
.tab_section_name a:visited,
.tab_name a:hover,
.tab_name a:active,
.tab_name a:focus,
.tab_section_name a:hover,
.tab_section_name a:active,
.tab_section_name a:focus {
  border-bottom: 2px solid #4CA1D8;
  color: #060606;
}
span.tab_select,
th a.customer_blacklist_add,
th a.customer_blacklist_delete {
  float: right;
}
/*---- **** ---- **** forms **** ---- **** ----*/
select,
input,
textarea {
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid #36393D;
  -moz-box-shadow: inset 0 0 1px #4CA1D8;
}
.sel optgroup {
  background: #356AA0;
  color: #fff;
}
.sel option {
  background: #fff;
  color: #000;
}
textarea:focus,
.txt:focus,
.txtsmall:focus,
textarea.focus,
input.focus {
  background: url(../img/input_focus_bg.gif) no-repeat left top;
  border: #bababa 1px solid;
  color: #3C3C3C;
  padding: 2px;
}
input [type=checkbox] {
  background: url(../img/input_focus_bg.gif) no-repeat left top;
  color: #3C3C3C;
  margin: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  width: 96%;
  margin: 0;
}
.txadesc {
  height: 7em;
}
.txt {
  width: 79%;
}
#topbar label {
  vertical-align: bottom;
  letter-spacing: 0;
}
#topbar .txt {
  width: 50px;
  display: inline;
}
#topbar input {
  font-size: 9px;
  height: 18px;
}
#topbar input[type=text],
#topbar input[type=password] {
  border: 1px solid #20558B;
  background: #ccc;
  color: #fff;
  padding: 0;
}
.txtsmall {
  width: 50%;
}
div.oneChoice,
span.oneChoice {
  display: block;
  background: url(../img/onechoice.gif) left top repeat-x;
  height: 19px !important;
  padding-top: 1px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #E6E6E6;
  margin-bottom: 3px;
}
span.oneChoice {
  display: block;
  width: 48%;
  float: left;
  margin: 0 3px 3px 0;
}
.oneChoiceSel {
  background: url(../img/onechoicesel_green.gif) left top repeat-x !important;
  border-left: 1px solid #d9ebb9 !important;
  border-right: 1px solid #c2e487 !important;
}
.oneChoiceSel label,
.oneChoiceSel input {
  color: #6aa503 !important;
  font-weight: 700;
}
span.oneChoice label {
  white-space: nowrap;
}
input.one {
  display: block;
  float: left;
}
label.one {
  display: block;
  width: 87%;
  margin-left: 2px;
  float: left;
  height: 17px;
  padding: 3px 0 0;
}
label.labelOneBlock {
  display: block;
  height: 15px;
  padding: 2px 2px 2px 8px;
}
.selected {
  background-color: #BDE3FC !important;
  color: #2A7DB3 !important;
}
.offstate {
  clear: both;
  height: 1%;
  margin: 5px 0 5px 20px;
}
label.warn {
  background: #FFDE00 !important;
}
input.gosearch {
  margin-left: 3px;
  vertical-align: top;
}
input.searchbox {
  background: url(../img/searchbox.gif) no-repeat top left;
  width: 190px;
  border: 0;
  height: 21px;
  margin: 0;
  padding: 4px 0 0 24px;
}
input.livesrc {
  width: 200px;
}
.file {
  background: #fff;
  width: 180px;
}
label.preField,
li.preField {
  vertical-align: middle;
  padding: 3px;
}
label.preField.helper,
li.preField.helper {
  font-size: 1.2em;
}
label.topField {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 7px 7px 10px;
}
legend {
  font-weight: bolder;
}
p.action {
  text-align: right;
  line-height: 18px;
}
.action a {
  border: 1px solid #36393D;
  background: #F1F1F1;
  color: #36393D;
  margin: 0;
  padding: 2px 6px;
}
.action a:hover {
  text-decoration: underline;
  color: red;
}
.action a img {
  vertical-align: middle;
  margin-right: 3px;
}
li.middle {
  width: 255px;
  text-align: left;
}
.element.stretcher ul {
  list-style: none;
}
.element.stretcher li {
  border: 1px solid #ebebeb;
  height: 15px;
  margin: 0 0 2px -10px;
  padding: 1px;
}
#submit_filter,
#submit_filter2,
#submitstore_filter,
#clear_filter {
  border: 1px solid #000;
  color: #fff;
  font-weight: bolder;
  font-stretch: wider;
  cursor: pointer;
  background: #D01F3C;
  text-align: center;
}
textarea,
.txt,
.txtsmall,
.sel,
select {
  background: url(../img/input_bg.gif) #ffffff no-repeat left top;
  border: #356AA0 1px solid;
  color: #585858;
  padding: 2px;
}
/* group selection*/
/* grouptype */
#groupSelect option {
  padding-left: 20px;
}
/* Abteilungsgruppe */
#groupSelect option.groupType1 {
  background: url(../img/icons/chart_organisation.png) no-repeat;
}
/* Arbeitsgruppe */
#groupSelect option.groupType2 {
  background: url(../img/icons/wrench.png) no-repeat;
}
/* Projektgruppe */
#groupSelect option.groupType3 {
  background: url(../img/icons/bricks.png) no-repeat;
}
#emailContent img {
  border: 0;
}
#indexTable {
  border: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  border-collapse: separate;
  height: 800px;
  width: 100%;
}
#indexTable td {
  border: 1px solid #555;
  background-color: #fff;
  padding: 5px;
}
#indexTable h4 {
  margin-bottom: 5px;
  padding: 0;
}
/* wraps left and right column */
#emailContainer {
  width: 100%;
}
/* right column */
#emailRightCol {
  float: right;
  border-left: solid 1px #356aa0;
  width: 800px;
  padding: 0;
  background: #fff;
}
/* left column */
#emailOptions {
  float: left;
  width: 200px;
  /*padding: 3px;*/

  background: #fff;
  border: 1px solid #356AA0;
}
#emailOptions .box {
  margin: 3px;
  padding: 0 0 9px 0;
}
#emailOptions h3 {
  color: #f1f1f1;
  margin-bottom: 3px;
  padding: 3px;
  font-size: 1.1em;
  font-weight: bolder;
  border-bottom: 1px solid #c1ccd9;
  background: #36393d;
}
#emailOptions .action2 {
  margin-top: 9px;
  text-align: right;
}
#emailList table {
  margin: 0px;
  background: #fff;
  color: #000;
  border-collapse: collapse;
}
.emailListTable td {
  border: 0;
  margin: 0;
  padding: 0;
}
#emailContent {
  width: 100% !important;
}
#emailContentHeader {
  background-color: #C3D9FF !important;
  padding: 3px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 80% !important;
}
#emailContentHeader dl,
#emailSearch dl,
#emailToolbar dl {
  margin: 0 3px !important;
  padding: 0 !important;
  width: 100% !important;
}
#emailContentHeader dt,
#emailSearch dt,
#emailToolbar dt {
  font-weight: bolder !important;
  float: left !important;
  clear: left !important;
  margin: 0 3px !important;
}
#emailSearch dt,
#emailToolbar dt {
  width: 90%;
}
#emailContentHeader dd,
#emailSearch dd,
#emailToolbar dd {
  margin: 0 !important;
  padding: 0 !important;
}
#emailContentHeader dd {
  margin: 0 3px !important;
  /*overflow: auto;*/

}
#emailContentHeader a {
  text-decoration: underline !important;
  color: blue !important;
}
#emailContentHeader dt {
  width: 90px !important;
}
#emailContentContent {
  font-size: 12px;
  overflow: auto !important;
  padding: 3px !important;
  /*width: 100%;*/

}
#emailContentAttachment {
  font-size: 0.9em !important;
  padding: 5px !important;
  border-top: 1px solid #bbb !important;
}
#emailContentAttachment a {
  color: blue !important;
  text-decoration: underline !important;
}
#emailSearch dt {
  width: 160px !important;
}
#emailSearch input {
  width: 90% !important;
}
#emailSearch select {
  width: 90%;
}
#emailList {
  /*overflow: auto;
     height: 1000px;*/

  min-height: 200px !important;
  border: 1px solid #bbb !important;
}
/*
 .loading {
 background-color: #93A1AB;
 background-image: url(../img/loading.gif);
 
 filter:  alpha( opacity = 50 );
 
 opacity:
 .60;
 
 background-repeat:no-repeat;
 
 background-position:center;
 }
 */
#emailContentAttachment a {
  background: url(../img/icons/disk.png) center left no-repeat !important;
  padding-left: 20px !important;
}
#panel1 h3,
#panel2 h3 {
  background: #36393d url(../img/icons/application_split.png) center right no-repeat;
  margin: 0;
  cursor: pointer;
  color: #f1f1f1;
  padding: 3px;
  font-size: 1.1em;
  font-weight: bolder;
  border-bottom: 1px solid #c1ccd9;
}
#emailControl {
  background: #36393D;
  text-align: right;
  padding: 3px;
}
#emailControl table tr {
  height: 8px;
}
#emailControl table tr th {
  text-align: center;
  vertical-align: top;
}
#emailControl a {
  color: #fff;
  font-size: 0.7em;
  text-decoration: none;
}
ul#attachments {
  list-style-type: none;
}
#emailheadersprint dt {
  width: 180px !important;
}
/* Tooltips CSS definitions */
.tooltip {
  position: absolute !important;
  overflow: hidden;
  font-size: 12px;
  z-index: 10000 !important;
}
.tooltip .xtop,
.tooltip .xbottom {
  display: block;
  background: transparent;
  font-size: 1px;
}
.tooltip .xb1,
.tooltip .xb2,
.tooltip .xb3,
.tooltip .xb4 {
  display: block;
  overflow: hidden;
}
.tooltip .xb1,
.tooltip .xb2,
.tooltip .xb3 {
  height: 1px;
}
.tooltip .xb2,
.tooltip .xb3,
.tooltip .xb4 {
  background: #666;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.tooltip .xbottom .xb2,
.tooltip .xbottom .xb3,
.tooltip .xbottom .xb4 {
  background: #666;
}
.tooltip .xb1 {
  margin: 0 5px;
  background: #333;
}
.tooltip .xb2 {
  margin: 0 3px;
  border-width: 0 2px;
}
.tooltip .xb3 {
  margin: 0 2px;
}
.tooltip .xb4 {
  height: 2px;
  margin: 0 1px;
}
.tooltip .xboxcontent {
  padding: 0 .5em;
  margin: 0;
  color: #000;
  text-shadow: 2px 2px 0px #CCC;
  word-wrap: break-word;
  border: 1px solid #333;
  border-width: 0px 1px 0 1px;
  background-color: #666;
}
.ToolTipTitel {
  color: black;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  background-color: #c2c2c6;
}
.ToolTipInhalt {
  color: black;
  font-family: arial, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}
#ToolTip {
  position: absolute;
  width: 100px;
  top: 0px;
  left: 0px;
  z-index: 4;
  visibility: hidden;
}
#timetable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}
#timetable td {
  border: 1px solid black;
  text-align: center;
  font-size: 90%;
}
#timetable th {
  border: 1px solid black;
  font-weight: normal;
  padding: 2px;
}
#timetable td.ta_left {
  text-align: left;
}
#timetable td.today {
  background-color: #dac5f9;
}
#timetable td.we {
  background-color: #daf1db;
}
#timetable span {
  width: 50%;
  height: 30px;
  float: left;
  display: table;
}
#timetable img {
  width: 15px;
}
table.rooms {
  border-collapse: collapse;
}
table.rooms td {
  padding: 2px 10px;
  border-left: 1px solid black;
}
table.rooms td.first {
  border-left: 0;
}
/*
 * deactived by s.georgi
 * please don`t use global selectors
 * or selectors that are used also 
 * on other pages
 * 
td.label {
    text-align:right;
}

#submit {
    background: url(../img/icons/tick.png) left top no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -1000em;
    border: 0;
    cursor: pointer;
}

#cancel {

}*//*! jQuery UI - v1.10.3 - 2013-09-16
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */

}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ui-front {
  z-index: 100;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */

}
.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */

}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
  width: 2.4em;
}
.ui-button-icons-only {
  width: 3.4em;
}
button.ui-button-icons-only {
  width: 3.7em;
}
/* button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em;
}
/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}
/* button sets */
.ui-buttonset {
  margin-right: 7px;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}
/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}
.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 21px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  /* support: IE10, see #8844 */

  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  /* support: IE7 */

  font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
  cursor: default;
}
/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}
/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}
/* right-aligned */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
  background: url("images/animated-overlay.gif");
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0;
}
.ui-spinner-up {
  top: 0;
}
.ui-spinner-down {
  bottom: 0;
}
/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */

  background-position: -65px -16px;
}
.ui-tabs {
  position: relative;
  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

  padding: .2em;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  cursor: text;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
  border-width: 2px;
}
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}
.ui-widget-header a {
  color: #ffffff;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #fbcb09;
  background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #c77405;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #fbd850;
  background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
  /* For IE8 - See #6059 */

}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_ffffff_256x240.png);
}
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_228ef1_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_ffd27a_256x240.png);
}
/* positioning */
.ui-icon-blank {
  background-position: 16px 16px;
}
.ui-icon-carat-1-n {
  background-position: 0 0;
}
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}
.ui-icon-carat-1-e {
  background-position: -32px 0;
}
.ui-icon-carat-1-se {
  background-position: -48px 0;
}
.ui-icon-carat-1-s {
  background-position: -64px 0;
}
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}
.ui-icon-carat-1-w {
  background-position: -96px 0;
}
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}
.ui-icon-extlink {
  background-position: -32px -80px;
}
.ui-icon-newwin {
  background-position: -48px -80px;
}
.ui-icon-refresh {
  background-position: -64px -80px;
}
.ui-icon-shuffle {
  background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}
.ui-icon-folder-open {
  background-position: -16px -96px;
}
.ui-icon-document {
  background-position: -32px -96px;
}
.ui-icon-document-b {
  background-position: -48px -96px;
}
.ui-icon-note {
  background-position: -64px -96px;
}
.ui-icon-mail-closed {
  background-position: -80px -96px;
}
.ui-icon-mail-open {
  background-position: -96px -96px;
}
.ui-icon-suitcase {
  background-position: -112px -96px;
}
.ui-icon-comment {
  background-position: -128px -96px;
}
.ui-icon-person {
  background-position: -144px -96px;
}
.ui-icon-print {
  background-position: -160px -96px;
}
.ui-icon-trash {
  background-position: -176px -96px;
}
.ui-icon-locked {
  background-position: -192px -96px;
}
.ui-icon-unlocked {
  background-position: -208px -96px;
}
.ui-icon-bookmark {
  background-position: -224px -96px;
}
.ui-icon-tag {
  background-position: -240px -96px;
}
.ui-icon-home {
  background-position: 0 -112px;
}
.ui-icon-flag {
  background-position: -16px -112px;
}
.ui-icon-calendar {
  background-position: -32px -112px;
}
.ui-icon-cart {
  background-position: -48px -112px;
}
.ui-icon-pencil {
  background-position: -64px -112px;
}
.ui-icon-disk {
  background-position: -96px -112px;
}
.ui-icon-calculator {
  background-position: -112px -112px;
}
.ui-icon-zoomin {
  background-position: -128px -112px;
}
.ui-icon-zoomout {
  background-position: -144px -112px;
}
.ui-icon-search {
  background-position: -160px -112px;
}
.ui-icon-wrench {
  background-position: -176px -112px;
}
.ui-icon-gear {
  background-position: -192px -112px;
}
.ui-icon-heart {
  background-position: -208px -112px;
}
.ui-icon-star {
  background-position: -224px -112px;
}
.ui-icon-link {
  background-position: -240px -112px;
}
.ui-icon-cancel {
  background-position: 0 -128px;
}
.ui-icon-plus {
  background-position: -16px -128px;
}
.ui-icon-plusthick {
  background-position: -32px -128px;
}
.ui-icon-minus {
  background-position: -48px -128px;
}
.ui-icon-minusthick {
  background-position: -64px -128px;
}
.ui-icon-close {
  background-position: -80px -128px;
}
.ui-icon-closethick {
  background-position: -96px -128px;
}
.ui-icon-key {
  background-position: -112px -128px;
}
.ui-icon-lightbulb {
  background-position: -128px -128px;
}
.ui-icon-scissors {
  background-position: -144px -128px;
}
.ui-icon-clipboard {
  background-position: -160px -128px;
}
.ui-icon-copy {
  background-position: -176px -128px;
}
.ui-icon-contact {
  background-position: -192px -128px;
}
.ui-icon-image {
  background-position: -208px -128px;
}
.ui-icon-video {
  background-position: -224px -128px;
}
.ui-icon-script {
  background-position: -240px -128px;
}
.ui-icon-alert {
  background-position: 0 -144px;
}
.ui-icon-info {
  background-position: -16px -144px;
}
.ui-icon-notice {
  background-position: -32px -144px;
}
.ui-icon-help {
  background-position: -48px -144px;
}
.ui-icon-check {
  background-position: -64px -144px;
}
.ui-icon-bullet {
  background-position: -80px -144px;
}
.ui-icon-radio-on {
  background-position: -96px -144px;
}
.ui-icon-radio-off {
  background-position: -112px -144px;
}
.ui-icon-pin-w {
  background-position: -128px -144px;
}
.ui-icon-pin-s {
  background-position: -144px -144px;
}
.ui-icon-play {
  background-position: 0 -160px;
}
.ui-icon-pause {
  background-position: -16px -160px;
}
.ui-icon-seek-next {
  background-position: -32px -160px;
}
.ui-icon-seek-prev {
  background-position: -48px -160px;
}
.ui-icon-seek-end {
  background-position: -64px -160px;
}
.ui-icon-seek-start {
  background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
  background-position: -80px -160px;
}
.ui-icon-stop {
  background-position: -96px -160px;
}
.ui-icon-eject {
  background-position: -112px -160px;
}
.ui-icon-volume-off {
  background-position: -128px -160px;
}
.ui-icon-volume-on {
  background-position: -144px -160px;
}
.ui-icon-power {
  background-position: 0 -176px;
}
.ui-icon-signal-diag {
  background-position: -16px -176px;
}
.ui-icon-signal {
  background-position: -32px -176px;
}
.ui-icon-battery-0 {
  background-position: -48px -176px;
}
.ui-icon-battery-1 {
  background-position: -64px -176px;
}
.ui-icon-battery-2 {
  background-position: -80px -176px;
}
.ui-icon-battery-3 {
  background-position: -96px -176px;
}
.ui-icon-circle-plus {
  background-position: 0 -192px;
}
.ui-icon-circle-minus {
  background-position: -16px -192px;
}
.ui-icon-circle-close {
  background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}
.ui-icon-circle-check {
  background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px;
}
/* Overlays */
.ui-widget-overlay {
  background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
  opacity: .5;
  filter: alpha(opacity=50);
}
.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
  opacity: .2;
  filter: alpha(opacity=20);
  border-radius: 5px;
}
/*** Global Styles ***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: #ffffff;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* Webkit-Browser machen einen 2px margin außerhalb von Form-Elementen */
button,
input,
select,
textarea {
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid,
.bulletin,
.blackboard {
  margin: 0 -2em 1em;
  overflow: hidden;
}
.unit,
.size1of1,
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.bulletin .unews,
.bulletin .boxNews,
#allNews .unews,
#allNews .boxNews,
.blackboard .boxNews {
  float: left;
  padding: 1em 2em;
}
.size1of1,
.bulletin .unews,
#allNews .boxNews,
.bulletin .unews,
#allNews .boxNews {
  width: 100%;
}
.size1of2,
.bulletin .boxNews,
#allNews .unews,
.blackboard .boxNews,
.bulletin .boxNews,
#allNews .unews,
.blackboard .boxNews {
  width: 50%;
}
.size1of3 {
  width: 33.33%;
}
.size2of3 {
  width: 66.66%;
}
.size1of4 {
  width: 25%;
}
.size3of4 {
  width: 75%;
}
html,
body {
  height: 100%;
}
.siteContainer {
  min-height: 100%;
  padding-bottom: 4em;
}
body {
  background: #ffffff;
}
.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  max-width: 75rem;
}
a {
  /*color: #e96b10;*/
    color:#000;
  text-decoration: none;
}
a:hover {
  color: #f4a266;
  text-decoration: underline;
}
a .cnt a {
  color: #e96b10 !important;
}
b,
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}
.category {
  text-transform: uppercase;
  color: #777777;
  margin-top: 1em;
  padding: .2em 0 .4em;
  border-bottom: 1px solid #dcdcdc;
}
#groupItemList ul {
  margin-left: 2em;
}
#toolTip {
  position: absolute;
}
.rightAlign {
  text-align: right;
}
.insertComment h4 {
  margin: .7em 0 .4em;
}
.insertEntry select,
.insertEntry input[type=text],
.insertEntry textarea,
.insertEntry .placer {
  display: block;
  margin: .2em 0 1.2em;
}
.insertEntry label {
  padding: .5em 0;
  font-weight: 700;
}
.page {
  text-align: center;
  clear: both;
  border-top: 1px solid #f5f5f5;
  font-size: 13px;
  font-size: 0.8125rem;
  padding-bottom: 3em;
}
.page p {
  display: inline-block;
  text-indent: -9999em;
  margin: .8em 0 0;
  vertical-align: bottom;
  width: 17px;
  height: 17px;
  background: url('../img/sprite.png') no-repeat;
}
.page p.next {
  background-position: 0 -1px;
}
.page p.prev {
  background-position: 0 -18px;
}
.footer {
  background: #f5f5f5;
  border-bottom: 4px solid #e96b10;
  height: 2.7em;
  margin-top: -2.7em;
}
.footer span {
    margin: 0 auto;
    position: absolute;
    color: #777;
    width: 95%;    
}
.footer span a {
    cursor: pointer;
}

body {
  font: 0.75em/1.4 Arial, sans-serif;
  color: #444444;
}
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.2em;
}
h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: .2em;
}
h6 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}
p {
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 1em 0;
  /*color: #777777;*/
}
table.search caption {
  color: #444444;
  font-size: 21px;
  font-size: 1.3125rem;
  background: none;
}
/*** Components ***/
.subHead {
  background: #f5f5f5;
  border-top: 4px solid #e96b10;
}
.subHead .topBar {
  color: #777777;
  font-size: 12px;
  font-size: 0.75rem;
  padding: .45em 0;
  text-align: right;
}
.subHead a {
  color: #e96b10;
  text-decoration: none;
  padding: .7em 1em;
}
.subHead a:hover {
  background: #e96b10;
  color: #ffffff;
}
.subHead a:first-of-type {
  margin-left: 1em;
}
.subHead a img {
  vertical-align: -7px;
  margin-right: 0.5em;
}
.head {
  margin: 1.2em auto;
}
.head:before,
.head:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.head:after {
  clear: both;
}
.head .logo {
  float: left;
}
.head .logo img {
  display: block;
  margin: 10px 0 18px;
}
.head .login {
  float: right;
  text-align: right;
}
.head .login p {
  font-size: 12px;
  font-size: 0.75rem;
  color: #444444;
  margin: .6em 0 .2em;
  text-align: left;
}
.head .login input.text {
  padding: .8em .5em;
  font-size: 12px;
  font-size: 0.75rem;
  border: 1px solid #dcdcdc;
}
#nav {
  background: #e96b10;
  margin-bottom: 2em;
  height: 33px;
}
#mainmenu {
  font-size: 13px;
  font-size: 0.8125rem;
}
#mainmenu:before,
#mainmenu:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#mainmenu:after {
  clear: both;
}
#mainmenu .current > a {
  font-weight: bold;
}
#mainmenu .current:before {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  content: '';
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #ffffff;
}
#mainmenu .main {
  float: left;
  position: relative;
  z-index: 3;
}
#mainmenu .main:nth-child(n+9) .thirdLevel {
  left: -240px;
  transition-delay: 2s;
  x-offset: -3px;
}
#mainmenu a,
#mainmenu .sub {
  display: block;
  padding: .6em 1.5em;
  color: #fff;
  text-decoration: none;
}
#mainmenu .sub {
  position: relative;
  border-right: 1px solid #fad0b2;
}
#mainmenu .main:hover,
#mainmenu .over {
  background: #f4a266;
}
.submenu {
  display: none;
  background: #f4a266;
  position: absolute;
  width: 240px;
  font-size: 13px;
  font-size: 0.8125rem;
}
.submenu li:hover {
  background: #e96b10;
}
.main:hover > .submenu,
.sub:hover > .submenu,
.over > .submenu {
  display: block;
}
.thirdLevel {
  top: 0;
  left: 240px;
}
@media only screen and (max-width: 32em) {
  #nav .wrapper {
    width: 100%;
  }
  #mainmenu .current:before {
    left: 0;
    top: 50%;
    margin: -8px 0 0 0;
    border-color: transparent transparent transparent #ffffff;
  }
  #mainmenu .main {
    float: none;
    width: 33%;
  }
  #mainmenu .submenu {
    top: 0;
    left: 100%;
    width: 100%;
  }
  #mainmenu .thirdLevel {
    left: 100% !important;
  }
}
.btn,
.btn-default,
.btn-link,
.btn-primary {
  display: inline-block;
  padding: .8em 2.3em;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 12px;
  font-size: 0.75rem;
  border: 1px solid transparent;
}
.btn-default {
  color: #777777;
  background: #f5f5f5;
}
.btn-default:hover {
  color: #777777;
  background-color: #fafafa;
  text-decoration: none;
}
.btn-link {
  color: #e96b10;
  background: #f5f5f5;
}
.btn-link:hover {
  color: #f6b382;
  text-decoration: underline;
}
.btn-primary {
  color: #ffffff;
  background: #e96b10;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #f4a266;
  text-decoration: none;
}
.actionBtn {
  margin: 0;
  float: right;
}
.item2 h3.bt {
  color: #444444;
  background: #ffffff;
  margin-right: 1px;
  font-weight: bold;
  margin-top: 1em;
}
#tab th {
  background: #f5f5f5;
}
#tab tr.tab_extra {
  background: #e96b10;
  color: #ffffff;
}
#tab tr.tab_extra td {
  color: #ffffff;
}
table.search input[type=text],
table.search select {
  border: 1px solid #777777;
}
.boxNews {
  display: table;
  table-layout: fixed;
}
.boxNews p {
  margin: 0;
}
.bulletin .boxNews {
  padding: 1.5em 0;
}
#allNews .boxNews {
  padding: 1.5em 0;
}
.bbcreator {
  display: table-cell;
  background: #f5f5f5;
  width: 140px;
  padding: .7em;
  position: relative;
}
.bbcreator:after {
  position: absolute;
  content: '';
  top: 7px;
  left: 100%;
  margin-left: -2px;
  border: 10px solid transparent;
  border-left-color: #f5f5f5;
}
.bbemployee,
.bbdepartment {
  font-size: 12px;
  font-size: 0.75rem;
  padding: .5em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bbdepartment {
  padding: 0;
}
.bbdate {
  padding: .5em 0 0;
  font-size: 11px;
  font-size: 0.6875rem;
}
.content {
  display: table-cell;
  padding: 0 1.2em .7em;
  vertical-align: top;
}
.content img {
  width: 100%;
}
.content h3 {
  margin: .2em 0 .5em;
}
.fullText {
  margin-top: .5em;
  display: inline-block;
}
.commentEntry {
  margin-top: 5%;
  font-size: 12px;
  font-size: 0.75rem;
  padding: .8em 0;
}
.bbpic img {
  display: block;
  border: 1px solid #b5b0ad;
}
.unlock .bbcreator {
  border-left: 5px solid #f4a266;
  border-top: 5px solid #f4a266;
}
span.neg {
  position: relative;
  bottom: .5em;
}
.neg {
  position: relative;
  bottom: .5em;
}
.alert,
.error,
.warning,
.success {
  padding: .8em 2.2em;
  margin: 1.2em;
  background-repeat: no-repeat;
  background-position: 6px 49%;
}
.error {
  background-color: #ffcccc;
  background-image: url('../img/icons/exclamation.png');
  border: 1px solid #cc0000;
  color: #cc0000;
}
.warning {
  background-color: #fff0c7;
  background-image: url('../img/icons/error.png');
  border: 1px solid #c79200;
  color: #c79200;
}
.success {
  background-color: #c9e9c9;
  background-image: url('../img/icons/accept.png');
  border: 1px solid #338033;
  color: #338033;
}
.box-style {
  position: relative;
  top: 1em;
}
.box-style h3,
.box-style h4 {
  margin-bottom: .8em;
}
.m-comment {
  margin-top: 1em;
}
td.list {
  margin: 2em;
}
.groupDate {
  margin-top: 1em;
  margin-bottom: 4em;
}
.groupDate:before,
.groupDate:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.groupDate:after {
  clear: both;
}
.groupDate li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  padding-right: 2em;
}
.groupDate input[type=text] {
  width: 12em;
  padding: .7em 1em;
  margin-top: .5em;
  font-size: 12px;
  font-size: 0.75rem;
  color: #777777;
  border: 1px solid #dcdcdc;
}
.groupDate .calBox {
  position: absolute;
  right: 2em;
  top: 26px;
  width: 3em;
  height: 2.85em;
  padding-top: .35em;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #dcdcdc;
}
.extraOption {
  position: relative;
  top: 9em;
}
.vacCalender {
  min-width: 12.8%;
  border: .1em solid #b5b0ad;
  float: right;
  position: relative;
  right: 7.2em;
  top: 0.5em;
}
.legend {
  float: right;
}
.bookVacation input[type=text] {
  padding: .5em;
  margin: .5em 0 .5em 1.2em;
}
.bookVacation textarea {
  padding: 1em;
  margin: .5em 1.5em;
}
.bookVacation input[type=radio] {
  margin-left: .6em;
  vertical-align: top;
}
.bookVacation .submit {
  width: 328px;
  text-align: right;
}
.input {
  border: 1px solid #b5b0ad;
}
div.containerMenu,
div.containerInfo {
  border: 1px solid #b5b0ad;
}
.jcalendar .col2:hover,
.jcalendar .col1:hover {
  background: #fad0b2;
}
.jcalendar .row2 .col2,
.jcalendar .row1,
.jcalendar .col2,
.jcalendar .col1 {
  background: #fff;
}
.jcalendar td a {
  background: none;
  width: 25px;
  padding: .3em;
  display: inline-block;
}
.jcalendar td a:hover {
  color: #e96b10;
  background: #fad0b2;
}
.jcalendar td,
.jcalendar th {
  padding: 1px;
  text-align: center;
}
.jcalendar .col1:nth-child(n+6) a,
.jcalendar .col2:nth-child(n+6) a {
  background: #fafafa;
}
.jcalendar .col1:nth-child(n+6) a:hover,
.jcalendar .col2:nth-child(n+6) a:hover {
  color: #e96b10;
  background: #fad0b2;
}
.widthBtn {
  position: relative;
  left: 81.3em;
}
div.item3 {
  background-color: #f5f5f5;
  border: 1px solid #b5b0ad;
  margin-bottom: 30px;
  padding: 10px;
}
h3.bt {
  padding-bottom: .5em;
}
.vacationEmployee input[type=text] {
  padding: .8em;
  margin: .5em .5em .8em 0;
}
.vacationEmployee textarea {
  padding: 1em;
  margin-bottom: .8em;
}
.vacationEmployee table,
.vacationEmployee ul {
  margin-top: 1.5em;
}
.vacationEmployee h4 {
  margin: .5em 0 0;
}
.bookIllness {
  margin-top: 3em;
}
.extraGroup {
  padding: .7em 2.3em;
}
.blackboard .boxNews {
  float: none;
  width: 100%;
}
.action:before,
.action:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.action:after {
  clear: both;
}
#tabscontent .tabContent {
  clear: both;
  border: 1px solid #e96b10;
  padding-top: 0;
}
.tabHeaderActive a {
  background-color: #f5f5f5;
}
.tabHeaderActive {
  background-color: #f5f5f5;
}
.item2 div.div_bt {
  background: #f5f5f5;
  color: #e96b10;
}
.item2 div.div_bt a:visited {
  color: #777777;
}
div.filterblock {
  border: 0.2em solid #b5b0ad;
}
.doIt {
  position: relative;
  left: 65.5em;
}
tr {
  margin: 6em 4em;
}
.txt {
  margin: 3px 0;
}
#employeePicture {
  width: 300px;
  padding: 0.5em;
  border: 1px solid lightgrey;
}
.employeePicture {
  margin: 3em 1em 0 0;
  width: 150px;
  float: left;
}
#employeeData .employeeBox {
  padding: 3em 6em 3em 1em;
  float: left;
}
#employeeData .employeeBox table td {
  padding-left: 1.5em;
}
#employeeData .employeeBox table tr {
  line-height: 1.7em;
}
#employeeData .employeeBox table h4 {
  float: left;
  margin-bottom: .5em;
}
#employeeData .employeeBox table a img {
  padding: 0 .2em;
}
#employeeData .employeeBox:last-child {
  padding-right: 0;
}
.editBox {
  clear: both;
  text-align: center;
  border-top: 1px solid #f5f5f5;
  padding: 1em;
}
.editBox a img {
  padding: 0 .5em;
  top: .3em;
  position: relative;
}
.directorate {
  top: .3em;
  left: 0;
  margin-right: 3px;
}
.employee_switcher {
  font-size: 11px;
  font-size: 0.6875rem;
}
#tab tr td {
  padding: .4em .5em;
}
.tab_odd {
  background: #fff;
}
div.jobdesc textarea {
  margin: 0.3em 0;
}
.contact label {
  vertical-align: middle;
}
.contact input[type=text] {
  padding: .5em;
  margin: -0.5em 0 0.5em 1.2em;
}
.contact textarea {
  padding: 1em;
  margin: .5em 1.5em;
}
.contact input[type=radio] {
  margin-left: .6em;
  vertical-align: top;
}
.submitField {
  margin-left: 1.2em;
  display: inline;
}
.groupEdit h3 {
  margin: 1em 0;
}
.groupEdit hr {
  padding-top: 2em;
}
.groupList ul li {
  margin-left: 2em;
}
.groupList ul ul {
  margin-left: 3em;
}
.groupList table {
  width: 100%;
}
.groupRightsEdit table {
  width: 100%;
}
.groupRightsEdit table tr th {
  font-size: 13px;
  font-size: 0.8125rem;
  background: #b5b0ad;
  font-weight: bolder;
  padding: .5em;
  color: #ffffff;
}
.groupRightsEdit table tr:nth-of-type(2) td {
  padding-top: .8em;
}
.teamGuideSlider {
  min-height: 140px;
}
.teamGuideSlider p {
  font-style: italic;
  font-size: 16px;
  font-size: 1rem;
  color: #444444;
}
.teamGuideSlider p:hover,
.teamGuideSlider a:hover {
  text-decoration: none;
  color: #b5b0ad;
}
#guidePagination {
  line-height: 0;
  margin-top: .6em;
}
.bqstart {
  float: left;
  font-size: 9.5em;
  color: #f5f5f5;
  margin: -0.3em 0 -0.9em;
  padding-top: 2px;
  font-weight: 700;
}
.overlayRules {
  padding: 0 2em;
}
.overlayRules .textColumns {
  width: 100%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}
.overlayRules h2 {
  color: #e96b10;
  margin-bottom: .5em;
  letter-spacing: .05em;
}
.overlayRules h2 + ul {
  margin-bottom: 2em;
  width: 100%;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
.overlayRules h2 + ul li {
  list-style-type: square;
  margin-left: 1.5em;
  padding-left: 0;
}
.overlayRules h5 {
  font-weight: 700;
  letter-spacing: .01em;
}
.overlayRules li {
  margin-bottom: .8em;
}
.overlayRules ul {
  margin-bottom: 1.5em;
}
.overlayRules p {
  color: #444444;
}
@media (max-width: 820px) {
  .overlayRules .textColumns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
/*** Pages ***/
.overtime a,
.overtime a:hover {
  color: #444444;
}
.payout .date {
  text-align: center;
  padding: 2em;
}
.payout #spanDate {
  vertical-align: top;
  padding: .5em;
  font-size: 15px;
  font-size: 0.9375rem;
}
.payout .sorting:before,
.payout .sorting:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.payout .sorting:after {
  clear: both;
}
.payout #btnRefresh {
  float: right;
}
.payout #btnSave {
  float: right;
}
.payout hr {
  padding: 1em 0;
  margin-bottom: 2em;
}
.payout .sortElem p {
  float: left;
  width: 120px;
}
.payout .sortElem img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.payout .sortLink:visited,
.payout .sortLink:link,
.payout .sortLink:hover,
.payout .sortLink:active {
  color: #0000CC;
}
.payout .summaryLine {
  height: 2px;
  border-color: #000000;
}
.payout .blankRow {
  vertical-align: middle;
  height: 10px;
}
.payout .commentPart0 {
  width: 15%;
  float: left;
}
.payout .commentPart1 {
  width: 70%;
  float: left;
  margin-left: 10px;
  text-align: left;
}
.payout .commentPart2 {
  width: 10%;
  float: left;
}
.payout .confirm {
  background-color: #00CC00;
}
.payout .deny {
  background-color: #CC0000;
}



/* ------------------------------------------------------- Hilfe SLider --------------------------------------------------- */

#slider{
    width:35%;
    /*height:100%;*/
    border-left:4px solid #adafaf;
    background:#fff;
    color:#000!important;
    position:fixed;
    top:35px;
    bottom: 35px;
    right:-35%;
    z-index: 100000;
}
#slider div {
    margin: 5px;
    position: absolute;
    top: 7px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 5px;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    z-index: 100001;
}
#slider div ul {
    margin-left: 17px;
    list-style: disc;
}

#sliderButton {
    cursor: pointer;
}

#helpUL {
    margin-left: 17px;
    list-style: disc;
    
}

/* ------------------------------------------------------- Hilfe SLider Ende--------------------------------------------------- */

/* ------------------------------------------------------- Über Alert --------------------------------------------------- */

div.alertbox { 
    position: absolute;
    margin: 0 auto; 
    width: 375px; 
    height: auto; 
    background-color: #fff; 
    border-radius: 5px; 
    border: 1px solid #999; 
    color: #000; 
    list-style:none; 
    padding: 8px;
    display: none;
    font-size: 12px;
    left: 38%;
    top: 16%;
}

div.alertbox span#close {
    font-weight: bold;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: underline;
}

div.alertbox a {
    color: #508098;
}

div.alertbox ul {
    color: #777;
    list-style: none;
    margin-left: 20px;
}

/* ------------------------------------------------------- Über Alert Ende --------------------------------------------------- */

/* --------------------------------------------------- Tabelle vorerst ------------------------------------------------------- */

table {margin:20px auto;width:100%;padding:5px;table-layout:fixed}
th {background-color:#1A343B;padding:5px;color:#FFF;text-align:left}
tfoot {border-top: 1px solid #1A343B;}
tr:hover {background-color:#F1F1F1}
tr:nth-child(odd) {background-color: #ccc}
tr:nth-child(even) {background-color: #ddd}
td {padding:5px;}

/* --------------------------------------------------- Tabelle vorerst  Ende ------------------------------------------------------- */

/* --------------------------------------------------- Navi vorerst ------------------------------------------------------- */

ul#navigation {
    margin:0;
    padding:0;
    position:relative;
    float:left;
}

ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    border-top:1px solid #c4dbe7;
    border-bottom:1px solid #c4dbe7;
}

ul#navigation li a {
    padding:10px 25px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;
    
    -webkit-transition:color 0.2s linear, background 0.2s linear;   
    -moz-transition:color 0.2s linear, background 0.2s linear;  
    -o-transition:color 0.2s linear, background 0.2s linear;    
    transition:color 0.2s linear, background 0.2s linear;   
}

ul#navigation li a:hover {
    background:#f8f8f8;
    color:#282828;
}

ul#navigation li:hover > a {
    background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
    opacity:0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 
    transition:opacity 0.2s linear, visibility 0.2s linear; 
        
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}

/* --------------------------------------------------- Navi vorerst Ende ------------------------------------------------------- */

/* --------------------------------------------------- Roland ------------------------------------------------------------------ */

.edit-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/edit-16.png);
    cursor:pointer;
}
.delete-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/delete-16.png);
    cursor:pointer;
}
.accept-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/accept-16.png);
    cursor:pointer;    
}
.back-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/back-16.png);
    cursor:pointer;    
}
.info-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/info-16.png);
    cursor:pointer;    
}
.save-16{
    display:inline-block;
    height:16px;
    width:16px;
    background: url(../img/save-16.png);
    cursor:pointer;    
}
.menue{
    background:#eee;
}
.circle-16{
    display:inline-block;
    height:16px;
    width:16px;
    margin:0 5px;
    background:#f00;
    line-height:16px;
    text-align:center;
    border-radius:5px;
    cursor:default;
}
.dirs div,.dirs td{
    border:1px solid #fff;
    padding-left: 20px;
    line-height:20px;
    font-size:16px;
    margin-top:1px;
    border-radius:2px;
    cursor:default;
    /* unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dirs .dir{
        background:url(../img/folder-16.png) no-repeat 0 center;
}
.dirs .png{
        background:url(../img/img-16.png) no-repeat 0 center;
}
.dirs .notice{
        background:url(../img/notice-16.png) no-repeat 0 center;
}
.dirs .image{
        background:url(../img/img-16.png) no-repeat 0 center;
}
.dirs .code{
        background:url(../img/code-16.png) no-repeat 0 center;
}
.dirs div:hover{
    background-color:#C1CFDB;
}

/* --------------------------------------------------- Roland Ende ------------------------------------------------------------------ */
/* ---------------------------------------------------- Suche ---------------------------------------------------------------- */

#search {
    position: relative;
    bottom: 27px;
    padding: 2px;
    float: right;
    right: 130px;
    color: #fff;

}

/* -------------------------------------------------- Suche Ende --------------------------------------------------------------- */


#aboutObject {
    height: 385px;
    overflow: visible;
}
/*---------------------------------------------------- Mathias Start -----------------------------------------------------------------*/
.resetTable{
	color: #777777;
	background: #f5f5f5;
	height:35px;
	width:250px;
	display: inline-block;
	padding: .8em 2.3em;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 12px;
	font-size: 0.75rem;
	border: 1px solid transparent;
}

.resetTable:hover {
	color: #777777;
	background-color: #fafafa;
	text-decoration: none;
}
.rightAlign{
    text-align: right;  
}

.newTypeButton{
	margin: auto;
    padding: .4em 2.3em;
	cursor: pointer;
	border: 1px solid transparent;
    height:25px;
    width:150px;
    color: #ffffff;
    background: #e96b10;
}
.newTypeButton:hover {
	color: #ffffff;
	background-color: #f4a266;
	text-decoration: none;
}


/*---------------------------------------------------- Mathias Ende -------------------------------------------------*/

/* ------------------------------------------ Hilfe ---------------------------------------------------------- */

object {
    width: 100%;
    height: 99%;
    color:#000!important;
}


/* ------------------------------------------ Hilfe Ende ------------------------------------------------------ */

/* ----------------------------------------------------------------------------------------------------------- */

.textinput {
    width: 300px;
    padding: 7px;
    border: 1px solid #ccc;
}

.selectbox {
    width: 50px;
    padding: 7px;
    border: 1px solid #ccc;
}

.dataBtn {
    display: inline-block;
    padding: 7px;
    width: 147px;
    margin: 10px 5px 0 0 ;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid transparent;
    float:left;
}





#tabnav {
    display: none;
}







