<?php
$title = 'Übersicht - Benutzerdaten';
$this->headTitle($title);
?>
<div id="dialog">
<div id="test">

<ul id="tabnav">
    <li><a href="#tabs-1">Allgemeine</a></li>
    <li><a href="#tabs-2">Ansicht</a></li>
  </ul>

<h2><?php echo $this->escapeHtml('Userbereich'); ?></h2>
<h3>meine Benutzerdaten bearbeiten</h3>
<p>
<a href=<?php echo $this->url('data', array('action' => 'index')); ?>>zurück</a>
</p>
<?php
$form = $this->form;
$form->prepare();?>
<?php echo $this->form()->openTag($form);
$form->setAttribute('method', 'post');
$formLabel = $this->plugin('formLabel');?>
<div id="tabs-1">
<table>
<thead>
    <tr>
        <th>Allgemein</th>
        <th></th>
    </tr>
</thead>
<tbody>
<tr><?php
    $name = $form->get('password');?>
    <td><?php echo $formLabel->openTag() . $name->getOption('label');?></td>
    <td><?php echo $this->formInput($name);
    ?></td>
    <?php echo $this->formElementErrors($name);
    echo $formLabel->closeTag();
?></tr>
<tr><?php
    $name = $form->get('password2');?>
    <td><?php echo $formLabel->openTag() . $name->getOption('label');?></td>
    <td><?php echo $this->formInput($name);?></td>
    <?php echo $this->formElementErrors($name);
    echo $formLabel->closeTag();
?></tr>
<tr><?php
    $name = $form->get('email');?>
    <td><?php echo $formLabel->openTag() . $name->getOption('label');?></td>
    <td><?php echo $this->formInput($name);?></td>
    <?php echo $this->formElementErrors($name);
    echo $formLabel->closeTag();
?></tr>

</tbody>
<?php echo $this->formSubmit($form->get('submit'));?>
</table>
<?php echo $this->form()->closeTag();?>
</div>
<div id="slider">
    <div>
    </div>
</div>



<div id="tabs-2">
<table>
  <tr>
    <th>Ansicht</th>
    <th></th>
  </tr>
  <tr>
    <td>Style einstellung</td>
    <td>
    <form method="post">
    <input type="Radio" name="style" value="1" onchange="this.form.submit()" <?php if($this->setting==1)echo 'checked';?>> Klassisch
    <input type="Radio" name="style" value="2" onchange="this.form.submit()" <?php if($this->setting==2)echo 'checked';?>> Web 2.0
    </form>
    </td>
  </tr>
</table>

</div>
</div>
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>
<?php

if (isset($this->error)) {
?>
    globalNotification({error: '<?php echo $this->error ?>'});
<?php
}
?>

<?php
if (isset($this->success)) {
?>
    globalNotification({success: '<?php echo $this->success ?>'});
<?php
}
?>

</script>

<script>
<?php if($this->setting == 2) { ?>
$('#tabnav').css(
	'display', 'block'
)
$(function() {
    $( "#dialog" ).dialog({
        width: 550,
        modal: false
      });
  });

    $(function() {
	    $( "#test" ).tabs({
	    });
	  });

<?php } ?>
</script>