<?php
$title = 'Übersicht - Benutzerdaten';
$this->headTitle($title);
?>
<div id="dialog">
<h2><?php echo $this->escapeHtml('Userbereich'); ?></h2>
<h3>meine Benutzerdaten</h3>
<p>
</p>
<table>
    <tr>
        <th>Daten</th>
        <th></th>
    </tr>
    <tr>
        <td>Vorname</td>
        <td><?php echo $this->userdata->getFirstName(); ?></td>
    </tr>
    <tr>
        <td>Nachname</td>
        <td><?php echo $this->userdata->getLastName(); ?></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><?php echo $this->userdata->getEmail(); ?></td>
    </tr>
    <tr>
        <td>Login</td>
        <td><?php echo $this->userdata->getLogin(); ?></td>
    </tr>
        <tr>
        <td>WebStyle</td>
        <td><?php  if($this->userdata->getStyleSettings()==1){echo 'Klassisch';}else{ echo 'Web 2.0';}
        ?></td>
    </tr>
    <tfoot>
        <tr>
            <td><a href=<?php echo $this->url('data', array('action' => 'change')); ?>>Daten bearbeiten</a></td>
            <td></td>
        </tr>
</table>
</div>
<div id="slider">
    <div>
    </div>
</div>
<script>
<?php if($this->userdata->getStyleSettings() == 2) { ?>

$(function() {
    $( "#dialog" ).dialog({
        width: 550,
        modal: false
      });
  });


<?php } ?>
</script>
