<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" />


<span id="upload" class="btn btn-primary">Datei Hochladen</span>
<input id="file" type="file" style="display:none"/>

<span id="opwards" class="btn btn-primary">In Übergeordneten Ordner</span>
<span id="delete" class="btn btn-primary">Selektierte Datei Löschen</span>
<span id="newFile" class="btn btn-primary">neue Datei erstellen</span>

<table>
        <thead>
            <tr>
                <th style="width:300px;">Ordnerstruktur</th>
                <th>Datein</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="vertical-align:top">
                    <div id="tree" style="width:300px;overflow:auto;background:transparent;"></div>
                </td>
                <td style="padding:0">
                    <table style="margin:0;padding:0">
                        <tbody id="data">
                        </tbody>
                    </table>
                </td>
            </tr>
</table>
<script>var currentUser = '<?php echo $this->currentUser->getLogin();?>';</script>
<datalist id="users">
<?php
    foreach($this->users as $user){
        ?><option value="<?php echo $user->getLogin(); ?>"><?php echo $user->getLogin() , ' [', $user->getFirstName(), ' ', $user->getLastName(), ']'; ?></option><?php
    }
?>
</datalist>

<link rel="stylesheet" href="/css/data.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css" />

<script src ="/js/jsdiff.js" defer></script>
<script src="//cdn.jsdelivr.net/ace/1.1.01/noconflict/ace.js" defer></script>
<script src="/ckeditor/ckeditor.js" defer></script>
<script src="/ckeditor/adapters/jquery.js" defer></script>

<script type="text/javascript" src="/js/jquery.tagsinput.js" defer></script>

<script src="//cdn.jsdelivr.net/jquery.jstree/pre1.0/jquery.jstree.min.js"></script>
<script src ="/js/data.js"></script>



<script>
$(window).load(function(){
    showTree();
    globalAjax('/dir').success(showDirs);



    $('#delete').click(function(){
    	$('.selected').each(function(){
    		globalAjax('/data/delete', {data: {location : $(this).data('location')}}).success(function(){
    			globalAjax('/dir', {data: {dirLocation : currentDir.location}}).success(showDirs);;
    		});
    	});
    });


    $('#newFile').click(function(){openFileUploadDialog(' ', 'NeueDatei.rtf.html');});

    var dropZone = document.getElementsByTagName('body')[0];
    dropZone.addEventListener('drop', function(e){
    	e.preventDefault();
    	file = e.dataTransfer.files[0];
    	openFileUploadDialog(file, file.name, currentDir);
    }, false);
    dropZone.addEventListener('dragover', function(e){e.preventDefault();}, false);

    $('#upload').click(function(){$('#file').click()});

    $('#opwards').click(function(){globalAjax('/dir', {data: {dirLocation : currentDir.location + ':..'}}).success(showDirs);});

    $('#file').change(function(e){
    	e.preventDefault();
    	file = this.files[0];
    	openFileUploadDialog(file, file.name, currentDir).addEventHandler('close', function(){
    		globalAjax('/dir', {data: {dirLocation : currentDir.location}}).success(showDirs);
        });
    });

});
</script>