<h1>Temporäre User</h1>

<div id="wrapper">
    <section id="content">
        <form method="post" name="newform">

            <table id="tempuser">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vor u Nachname</th>
                        <th>Temporär Status</th>
                        <th>Verwaltung</th>

                    </tr>
                </thead>
                <?php  $i = 0?>
                <tbody>
                <?php if(isset($this->tempuser)){?>
                <?php foreach($this->tempuser AS $user){?>

                    <tr>
                        <td><?php echo $user->getUserId()?>
                        <input type="hidden" name="<?php echo 'user' . $i; ?>"
                         id="hiddenuserID" value="<?php echo $user->getUserId(); ?>">

                        </td>
                        <td><?php echo $user->getFirstName() . " " . $user->getLastName()?></td>
                        <td>
						<?php if($user->getTemp()==3){?>Admin und Email bestätigung fehlt<?php }?>
						<?php if($user->getTemp()==2){?>Admin bestätigung fehlt<?php }?>
						<?php if($user->getTemp()==1){?> Email bestätigung fehlt<?php }?>
						</td>
                        <td>
						<?php if($user->getTemp()==3){?>

						    <select name="<?php echo 'tempchange'.$i; ?>" id="roleSearch" class="vAlignMiddle" onChange="this.form.submit()">
                                <option value="0" selected="selected">-- Aktionen --</option>
                                <option value="1">Bestätigen</option>
                                <option value="3">Code zusenden</option>
                                <option value="2">Löschen</option>


                        </select>


						<?php }?>
						<?php if($user->getTemp()==2){?>

						    <select name="<?php echo 'tempchange'.$i; ?>" id="roleSearch" class="vAlignMiddle" onChange="this.form.submit()">
                                <option value="0" selected="selected">-- Aktionen --</option>
                                <option value="1">Bestätigen</option>
                                <option value="2">Löschen</option>


                        </select>


						<?php }?>
						<?php if($user->getTemp()==1){?>

						    <select name="<?php echo 'tempchange'.$i; ?>" id="roleSearch" class="vAlignMiddle" onChange="this.form.submit()">
                                <option value="0" selected="selected">-- Aktionen --</option>
                                <option value="3">Code zusenden</option>
                                <option value="2">Löschen</option>


                        </select>


						<?php }?>
						</td>
                    </tr>
                    <?php  $i++?>
                    <?php }}?>
               </tbody>

                <tfoot>
                    <tr>
                        <td><input type="hidden" name="sizeofpost"
                         id="hiddenuserID" value="<?php echo $i; ?>"></td>
                        <td>
                         <?php if(isset($this->hashvalue) && isset($this->userinformation)){ ?>
                         Emailkey für <?php echo $this->userinformation->getFirstName(). ' '
                         . $this->userinformation->getLastName().': ' .$this->hashvalue?>
                         <?php }?>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </section>
</div>

<div id="slider">
    <div>
    </div>
</div>














<script>
$('#tempuser').dataTable();
</script>



<script>
<?php
if (isset($this->information)) {
    ?>
    globalNotification({information: '<?php echo $this->information ?>'});
    <?php
}
?>
</script>
<script>
<?php
if(isset($this->success)){
    ?>
    globalNotification({success: '<?php echo $this->success ?>'});
    <?php
}
?>
</script>