<h1><strong>Verwaltung der Metadatentypen</strong></h1>
<a class="btn-primary" href="../Angemeldet">Zurück zur Startseite </a>
<?php // echo '<pre> allmetadata: '; print_r($this->allmetadata); echo '</pre>'; echo "</br>";
      // echo '<pre> selectedmetatyp: '; print_r($this->selectedmetatype); echo '</pre>'; echo "</br>"; ?>
<div>
    <section>
       </br>
       <form action="" method="post" id="metaDataShow"> <label> Zeige alle Metadaten für Metadatentyp: </label>
            <select name="selectedTypeId" id="typeId" onChange="this.form.submit()">
                <option value="0" selected="selected" > <?php
                    if ($this->selectedmetatype) echo $this->selectedmetatype->getName();
                                            else echo '--Wähle einen Metadatentyp--'; ?> </option>
                    <?php
                        foreach ($this->definedmetatypes as $metatype) {
                            if (($this->selectedmetatype and ($metatype->getId() !== $this->selectedmetatype->getId()))
                                xor !($this->selectedmetatype)) {
                                 ?>
                                <option value="<?php echo $metatype->getId(); ?>"><?php echo $metatype->getName(); ?></option>
                                <?php
                            }
                        }?>
            </select>
            <?php if ($this->selectedmetatype) { ?> <a class="newTypeButton" href="../metadata">Zurück zur Übersicht </a>
            <?php } else { ?> <a class="newTypeButton" href="../metadata/create">neuen Typ erstellen </a>  <?php } ?>
        </form>
    </section>
</div>
<?php if (!$this->selectedmetatype) {?>
<div>
    <section>
        <form action="" method="post" onreset="return ResetCheck()" id="allMetaTypesForm" class="clear">
            <table border = "1" id="listTable">
            <thead>
                <tr>
                    <th id = "metaDataHead100">Id</th>
                    <th>Name</th>
                    <th id = "metaDataHead150">Mediatyp</th>
                    <th id = "metaDataHead150">Maximal Länge</th>
                    <th id = "metaDataHead150">Maximale Größe</th>
                    <th id = "metaDataHead100">Interaktiv</th>
                    <th>Resource(URL)</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $i=0;
                foreach ($this->definedmetatypes as $metatype){?>
                    <tr>
                        <td>
                            <input type='hidden' name='<?php echo 'metaTypeId' . $i?>' value='<?php echo $metatype->getId()?>'>
                            <?php echo $metatype->getId()?>
                        </td>
                        <td>
                            <input type='hidden' name='<?php echo 'hiddenName' . $i?>' value='<?php echo $metatype->getName()?>'>
                            <input id='metaDataInputText' type ='text' name ='<?php echo 'NameInput' . $i ?>' value='<?php echo $metatype->getName();?>' required="required">
                        </td>
                        <td>
                            <select name="<?php echo 'mediaType'.$i?>" >
                                <option value="0" selected='selected'><?php echo $metatype->getSubtyp()?></option>
                                <?php foreach ($this->standardmetatypes as $key => $metaData) {?>
                                    <optgroup label="<?php echo $metaData->getMediatyp()?>">
                                        <?php foreach (unserialize($metaData->getSubtyp()) as $subTyp) {?>
                                            <option label="<?php echo $subTyp?>"> <?php echo $subTyp?></option>
                                        <?php }?>
                                    </optgroup>
                               <?php }?>
                             </select>
                        </td>
                        <td>
                            <input type='hidden' name='<?php echo 'hiddenMaxLength' . $i?>' value='<?php if ($metatype->getMaxLength() === 0) echo 'unbegrenzt'; else echo $metatype->getMaxLength()?>'>
                            <input id='metaDataInputText' type ='text' name ='<?php echo 'MaxLengthInput' . $i ?>' value='<?php if ($metatype->getMaxLength() == 0) echo 'unbegrenzt'; else echo $metatype->getMaxLength()?>'>
                        </td>
                        <td>
                            <input type='hidden' name='<?php echo 'hiddenMaxSize' . $i?>' value='<?php if ($metatype->getMaxSize() === 0) echo 'unbegrenzt'; else echo $metatype->getMaxSize()?>'>
                            <input id='metaDataInputText' type='text' name='<?php echo 'MaxSizeInput' . $i ?>' value='<?php if ($metatype->getMaxSize() == 0) echo 'unbegrenzt'; else echo $metatype->getMaxSize()?>'>
                        </td>
                        <td>
                            <select name="<?php echo 'Interactive'.$i?>">
                                <option value="<?php echo $metatype->getInteractive()?>" selected="selected">
                                    <?php if ($metatype->getInteractive() == 0) echo 'Nein'; else echo 'Ja'?>
                                </option>
                                <option value="<?php echo abs(($metatype->getInteractive())-1)?>">
                                    <?php  if ($metatype->getInteractive() == 0) echo 'Ja'; else echo 'Nein'?>
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type='hidden' name='<?php echo 'hiddenResourceUrl' . $i?>' value='<?php echo $metatype->getResourceUrl()?>'>
                            <input id='metaDataInputText' type='text' name ='<?php echo 'ResourceUrlInput' . $i ?>' value='<?php echo $metatype->getResourceUrl(); ?>'>
                        </td>

                    </tr>
                <?php
                    $i++;
                }?>
                </tbody>
                <tfoot>
                    <tr>
                      <td colspan="6" class="rightAlign" > <input class = "resetTable" type="reset"> </td>
                      <td> <input  class="btn-primary" type="submit" value="Speichern" name="metaDataSave" id="saveMetaData"></td>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" name="sizeofarray" value="<?php echo $i; ?>">
     </form>
     </section>
</div>
<?php
}
?>
<?php if ($this->selectedmetatype) { ?>

<div>
    <section>
            <table id="listTable">
            <thead>
                <tr>
                    <th id = "metaDataHead100">FileId</th>
                    <th id = "metaDataHead150">Name</th>
                    <th>Author(ID)</th>
                    <th>Branch(ID)</th>
                    <th>Versionen</th>
                    <th>Backup-Level</th>
                    <th>Schreibschutz</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $i = 0;
                foreach ($this->allmetadata as $metadata){
                    ?>
                    <tr>
                        <td><?php echo $metadata['FileId']?> </td>
                        <td><?php echo $metadata['FileName']?></td>
                        <td><?php echo $metadata['AuthorName']."(".$metadata["AuthorId"].")"?></td>
                        <td><?php echo $metadata['BranchName']."(".$metadata["BranchId"].")"?></td>
                        <td><?php echo $metadata['VerAmount']?></td>
                        <td><?php echo $metadata['BackUpLevel']?></td>
                        <td><?php if ($metadata['ReadOnly'] == '0') echo 'Nein'; else echo 'Ja'?></td>
                    </tr>
                <?php
                    $i++;
                }?>
                </tbody>
         </table>
         <input type="hidden" name="sizeofarray" value="<?php echo $i; ?>">
     </section>
</div>
<?php
}
?>
<div id="slider">
    <div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function()
{
    /* Init DataTables */
   $('#listTable').dataTable();

} );
</script>

<script type="text/javascript">
function ResetCheck () {
  var chk = window.confirm("Wollen Sie alle Eingaben löschen?");
  return (chk);
}
</script>
<script>
<?php
if(isset($this->error)){
    ?>
    globalNotification({error: '<?php echo $this->error ?>'});
    <?php
}
?>
</script>
<script>
<?php
if(isset($this->warning)){
    ?>
    globalNotification({warning: '<?php echo $this->warning ?>'});
    <?php
}
?>
</script>
<script>
<?php
if(isset($this->success)){
    ?>
    globalNotification({success: '<?php echo $this->success ?>'});
    <?php
}
?>
</script>