<h1>Email bestätigen</h1>
<span><?php echo $this->user->getFirstName() . ' ' . $this->user->getLastName(); ?></span>

<?php if(!isset($this->myLittlehelper)){?>

<form method="post">
    <br> <input type="text" name="newHash" placeholder="Bestätigungscode "> <input type="submit" name="codecheck"
        value="Code prüfen">
</form>
<?php }else{?>

<br>
<a class="btn btn-success btn-large" href="/">Jetzt zur Startseite</a>
<?php }?>

<div id="slider">
    <div>
    </div>
</div>



<script>
<?php
if (isset($this->error)) {
    ?>
    globalNotification({error: '<?php echo $this->error ?>'});
    <?php
}
?>
</script>
<script>
<?php
if (isset($this->success)) {
    ?>
    globalNotification({success: '<?php echo $this->success ?>'});
    <?php
}
?>
</script>