<?php echo $this->doctype(); ?>
<html>
<head>
    <meta charset="utf-8" />

    <title>UNISTER - DMS</title>

    <!-- css: general -->
    <?php
    echo $this->headLink( array('rel' => 'shortcut icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/demo_table.css')
        ->prependStylesheet($this->basePath() . '/css/demo_page.css')
        ->prependStylesheet($this->basePath() . '/css/jquery_notification.css')

    ?>

    <!-- scripte -->
    <?php
    echo $this->headScript()
        ->prependFile($this->basePath() . '/js/help.js')
        ->prependFile('http://cdn.jsdelivr.net/jquery.datatables/1.9.4/js/jquery.dataTables.js')
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
        ->prependFile('http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js', 'text/javascript')
        ->prependFile($this->basePath() . '/js/jquery_notification_v.1.js')
        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9'))
        ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9'));
    ?>
</head>

<body id="body">
<div class="siteContainer">
    <div class="subHead">
        <p class="topBar wrapper">
            <?php
            if(isset($_SESSION['Userid'])) {
            ?>

            Willkommen <strong> <?php echo $this->userName; ?></strong>!

            <a href="<?php echo $this->url('data') ?>">
                <img src=""  width="" height="22" alt="" title="" />
                Meine Einstellungen
            </a>
            <?php
            }
            ?>

            <a type="button" id="sliderButton"> Hilfe?</a>

            <?php
            if (isset($_SESSION['Userid'])) { ?>

            <a href="/"> Abmelden</a>

            <?php
            }
            ?>
        </p>
    </div>

    <div class="head wrapper">
        <a href="<?php echo $this->url('home') ?>" class="logo">
            <img src="<?php echo $this->basePath('img/unister_gmbh.png') ?>" />
        </a>
    </div>

    <?php
        if(isset($_SESSION['Userid'])) {
    ?>
    <div id="nav">
        <ul id="mainmenu" class="wrapper">
            <li class="main">
                <a class="mainlink" href="<?php echo $this->url('home') ?>">Home</a>
            </li>
            <li class="main">
                <a class="mainlink" href="<?php echo $this->url('home') ?>">Administration</a>
                <ul class="submenu secondLevel" id="Home">
                    <li><a class="first" href="<?php echo $this->url('crudRights') ?>" class="sublink">CRUD Rechte</a></li>
                <?php if ($this->rights['groupadministration']) { ?>
                    <li><a href="<?php echo $this->url('group') ?>" class="sublink">Gruppen Verwalten</a></li>
                <?php }
                if ($this->rights['roleadministration']) { ?>
                    <li><a href="<?php echo $this->url('roleRights') ?>" class="sublink">Rollenvergabe</a></li>
                    <li><a href="<?php echo $this->url('roleverwaltung') ?>" class="sublink">Rollenverwaltung</a></li>
                <?php }
                if ($this->rights['isadmin']) { ?>
                    <li><a href="<?php echo $this->url('adminusertemp') ?>" class="sublink">Temporäre Nutzer verwalten</a></li>
                    <li><a href="<?php echo $this->url('removedata') ?>" class="sublink">Papierkorb</a></li>
                <?php } ?>
                    <li><a href="<?php echo $this->url('groupchange') ?>">Gruppenadmin</a></li>
                <?php if ($this->rights['createuser']) { ?>
                    <li><a href="<?php echo $this->url('createUser') ?>" class="sublink">Nutzer erstellen</a></li>
                <?php } ?>
                    <li><a href="<?php echo $this->url('metadata') ?>" class="sublink">Metadaten verwalten</a></li>
                </ul>
            </li>
            <li class="main">
                <a class="mainlink" href="<?php echo $this->url('notice') ?>">Notizen</a>
            </li>
            <li class="main">
                <a class="mainlink" href="<?php echo $this->url('files') ?>">Dateien</a>
            </li>
        </ul>

        <form method="post" action="/searchResults" id="search">
            <input type="radio" value="volltext" name="searchtype" >Volltext
            <input type="radio" value="keywords" name="searchtype" checked>Keywords
            <input type="text" name="search" placeholder="Suche" >
        </form>

    </div>
    <?php
        }
    ?>

    <div class="wrapper cnt">
        <?php echo $this->content; ?>

        <div id="myAlert" class="alertbox" onclick="$(this).fadeOut(500);">

		</div>

        <div id="slider">
            <div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <span>&copy;<?php echo date('Y') ?> by UNISTER GmbH &bull; <a id="aboutLink" onclick="$('#myAlert').fadeIn(1000);">Über</a></span>
</div>

<script>
$('body').keydown(function(e){
    if(e.keyCode === 112){
        e.preventDefault();
        $('#sliderButton').click();
    }

});
$('#sliderButton').click(
    function(){

        if(parseInt($('#slider').css('right')) <= -20 ) {
            help(location.pathname);
            $('#slider').animate({'right':'0%'});
        } else {
            $('#slider').animate({'right':'-35%'}, "linear", function(){
                $('body').css('width', document.documentElement.clientWidth + 'px');
                setTimeout("$('body').removeAttr('style')", 1000);
            })
        }
    }
);

$('#aboutLink').click(
	    about()
);
</script>

</body>
</html>