<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta name="description" content="JavaScript desktop environment built with jQuery." />

    <title>jQuery Desktop</title>

    <!-- css: general -->
    <?php
    echo $this->headLink( array('rel' => 'shortcut icon', 'href' => $this->basePath() . '/img/favicon.ico'))

        //->prependStylesheet($this->basePath() . '/css/web2.0/ie.css')
        ->prependStylesheet($this->basePath() . '/css/web2.0/desktop.css')
        ->prependStylesheet($this->basePath() . '/css/web2.0/reset.css')
        ->prependStylesheet($this->basePath() . '/css/style.css')

    ?>

    <!-- scripte -->
    <?php
    echo $this->headScript()
        //->prependFile($this->basePath() . '/js/help.js')
        ->prependFile('http://cdn.jsdelivr.net/jquery.datatables/1.9.4/js/jquery.dataTables.js')
        ->prependFile( $this->basePath() . '/assets/js/jquery.desktop.js')
        //->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile('/assets/js/jquery.ui.js')
        ->prependFile('/assets/js/jquery.js', 'text/javascript')
        ->prependFile($this->basePath() . '/js/jquery_notification_v.1.js')
        //->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9'))
        //->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9'));
    ?>

</head>

<body>
<!--  start wrapper -->
<div class="abs" id="wrapper">
    <!--  start desktop -->
    <div class="abs" id="desktop">
        <!-- start Icon -->
        <a class="abs icon" style="left:20px;top:20px;" href="#icon_dock_computer" id="icon">
          <img src="<?php echo $this->basePath() . '/assets/images/icons/icon_32_computer.png'; ?>" />
          Computer
        </a>

       <a class="abs icon" style="left:20px;top:100px;" href="#icon_dock_drive" id="icon">
          <img src="assets/images/icons/icon_32_drive.png" />
          Hard Drive
       </a>

        <!-- ende Icon -->

        <!-- start dialog window -->
        <div id="window_computer" class="abs window">
          <div class="abs window_inner">
            <div class="window_top">
              <span class="float_left">
                <img src="<?php echo $this->basePath() . '/assets/images/icons/icon_16_computer.png'; ?>" />
                Computer
              </span>
              <span class="float_right">
                <a href="#" class="window_min"></a>
                <a href="#" class="window_resize"></a>
                <a href="#icon_dock_computer" class="window_close"></a>
              </span>
            </div>
            <div class="abs window_content">
              <div class="window_main" id="data">
              <!-- start content -->
                  <?php echo $this->content; ?>
              <!-- ende content -->
              </div>
            </div>
            <div class="abs window_bottom">
              Build: TK421
            </div>
          </div>
          <span class="abs ui-resizable-handle ui-resizable-se"></span>
        </div>

        <div id="window_drive" class="abs window">
          <div class="abs window_inner">
            <div class="window_top">
              <span class="float_left">
                <img src="assets/images/icons/icon_16_drive.png" />
                Hard Drive
              </span>
              <span class="float_right">
                <a href="#" class="window_min"></a>
                <a href="#" class="window_resize"></a>
                <a href="#icon_dock_drive" class="window_close"></a>
              </span>
            </div>
            <div class="abs window_content">
              <div class="window_main" id="data2">
               <!-- start2 content -->
                  <?php echo $this->content; ?>
              <!-- ende2 content -->
              </div>
            </div>
            <div class="abs window_bottom">
              Free: 80.9 GB
            </div>
          </div>
          <span class="abs ui-resizable-handle ui-resizable-se"></span>
        </div>
        <!-- end dialog window -->
      </div>
      <!--  end desktop -->


    <!--  start top menu -->
    <div class="abs" id="bar_top">
        <span class="float_right" id="clock"></span>
        <ul>
            <li>
                <a class="menu_trigger" href="#">jQuery Desktop</a>
                <ul class="menu">
                    <li>
                        <a href="http://www.amazon.com/dp/0596159773?tag=sons-20">jQuery Cookbook</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="menu_trigger" href="#">HTML5 Resources</a>
                <ul class="menu">
                    <li>
                        <a href="http://diveintohtml5.info/">Dive Into HTML5</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="menu_trigger" href="#">Code</a>
                <ul class="menu">
                    <li>
                        <a href="assets/css/desktop.css">Desktop - CSS</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="menu_trigger" href="#">Credits</a>
                <ul class="menu">
                    <li>
                        <a href="http://sonspring.com/journal/jquery-desktop">Demo built by Nathan Smith</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--  ende top menu -->

    <!--  start taskbar -->
    <div class="abs" id="bar_bottom">
        <a class="float_left" href="#" id="show_desktop" title="Show Desktop">
            <img src="<?php echo $this->basePath() . '/assets/images/icons/icon_22_desktop.png'; ?>" />
        </a>
        <ul id="dock">
            <li id="icon_dock_computer">
                <a href="#window_computer">
                    <img src="<?php echo $this->basePath() . '/assets/images/icons/icon_22_computer.png'; ?>" />
                    Computer
                </a>
            </li>
        </ul>
    </div>
    <!--  end taskbar -->

</div>
<!--  ende wrapper -->


</body>
</html>

<script>


</script>