<div style="background-color:#f1f1f1">
  	<table id='logintbl'>
  		<td>
  		 <form id='login' action="#">
  		     <h1>Login</h1>
  		         <div id="username"><input type="text" name="username" placeholder="Benutzername"><br></div>
  		         <div id="password"><input type="password" name="password" placeholder="Password"><br></div>
  		         <div id="submit"><input type="submit" value="Einloggen"></div>
	      </form>
	     </td>
	  </table>
  </div>

<script>
/**
 * script zum übermitteln der login daten an den AuthController zur überprüfung
 */
function handleResponse(response){
    if(typeof response.success !== 'undefined'){
        setTimeout(function(){window.location = 'Angemeldet'},1000);
    } else if( typeof response.warning !== 'undefined'){
    	setTimeout(function(){window.location = 'tempuser'},1000);
    }
}


	$('#login').submit(function(e){
		e.preventDefault();
		globalAjax('/', $("#login").serialize()).success(handleResponse);
	})
</script>