<?php
$title = 'Benutzer hinzufügen';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml('Gruppenadmin Bereich'); ?></h2>
<h3><?php echo $this->groupname;?></h3>
<?php echo $this->text;?>
<br>
<a href=<?php echo $this->url('groupadmin', array('groupid' => $this->groupid)); ?>>
   <input type="button" value="OK" />
</a>