<?php
$title = 'Benutzer hinzufügen';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml('Gruppenadmin Bereich'); ?></h2>
<h3><?php echo $this->groupname;?></h3>
<p>Welcher Benutzer soll hinzugefügt werden?</p>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('FirstName'));
echo $this->formRow($form->get('LastName'));
echo $this->formSubmit($form->get('Submit'));
echo $this->form()->closeTag();

?>
<?php
/* @var $user \GroupAdmin\Entity\User */
$users = $this->user;
if (null !== $users) {
if (!empty($this->user)) {
foreach ($users as $user) { ?>
    <a href="<?php echo $this->url('groupadmin', array(
        'action' => 'addUserToGroup',
        'groupid' => $this->groupid,
        'id' => $user->getUserId())
    ); ?>"><?php echo $user->getFirstName() . ' ' . $user->getLastName()?></a><br>
<?php
}} else {
    echo 'Keinen Benutzer gefunden.';
}}
