<div id="wrapper">
    <section id="content">
        <h2>Rollenvergabe</h2>
        <h3><?php echo $this->groupname;?></h3>
        <p>
            <a href="<?php echo $this->url('groupadmin', array(
                'action' => 'index',
                'groupid' => $this->groupid
            ));?>">Zurück</a>
        </p>
        <div id="forms">
        </div>
        <form method='post'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>momentane Rolle</th>
                        <th>Rollen</th>
                    </tr>
                </thead>
                <tbody><?php foreach ($this->user as $user) {?>
                    <tr>
                        <td><?php echo $this->escapeHtml($user['FirstName']) . ' ' . $this->escapeHtml($user['LastName']); ?></td>
                        <td><?php
                            if (in_array(6, $user['roles'])) {
                                echo 'Superman'; $r = 6;
                            } elseif (in_array(2, $user['roles'])) {
                                echo 'Admin'; $r = 2;
                            } elseif (in_array(5, $user['roles'])) {
                                echo 'Moderator'; $r = 5;
                            } elseif (in_array(3, $user['roles'])) {
                                echo 'Member'; $r = 3;
                            } elseif (in_array(4, $user['roles'])) {
                                echo 'Guest'; $r = 4;
                            } else {
                                echo 'Keine Rolle'; $r = 1;
                            } ?></td>
                            <td>
                                <select name="<?php echo $user['ID'];?>">
                                <option selected></option>
                                <option value="4"<?php echo ($r == 6 || $r == 2) ? ' disabled' : '' ?>>Guest</option>
                                <option value="3"<?php echo ($r == 6 || $r == 2) ? ' disabled' : '' ?>>Member</option>
                                <option value="5"<?php echo ($r == 6 || $r == 2) ? ' disabled' : '' ?>>Moderator</option>
                                <option value="2"<?php echo ($r == 6 || $r == 5 || $r == 4 || $r == 3 || $r == 1) ? ' disabled' : '' ?>>Admin</option>
                                <option value="6"<?php echo ($r == 2 || $r == 5 || $r == 4 || $r == 3 || $r == 1) ? ' disabled' : '' ?>>Superman</option>
                                </select>
                            </td>
                    </tr><?php }?>
                </tbody>
                <tfoot>
                    <tr>
                        <td><?php echo $this->paginationControl($this->user,'Sliding', 'group-admin/index/includes/paginatortemplate', array('groupid' => $this->groupid, 'action' => 'editRights')); ?></td>
                        <td><?php echo $this->escapeHtml($this->save) ?></td>
                        <td><input type="submit" value="speichern"></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </section>
</div>
<div class="clear"></div>
<!-- onchange="alert(this.form.roles<?php //echo $user['ID'];?>.options[this.form.roles<?php //echo $user['ID'];?>.selectedIndex].value)" -->