<?php
$title = 'Mitgliederübersicht';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml('Gruppenadmin Bereich'); ?></h2>
<h3><?php echo $this->groupname;?></h3>
<p>
    <a href="<?php echo $this->url('groupadmin', array(
        'action' => 'add',
        'groupid' => $this->groupid
    ));?>">Benutzer Hinzufügen</a>
</p>
<!-- <p>
    <a href="<?php // echo $this->url('groupadmin', array(
//         'action' => 'editRights',
//         'groupid' => $this->groupid
//    ));?>">Rechte bearbeiten</a>
</p> -->
<table id="1" class="clear">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Temporär?</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->user as $user) { ?>
        <tr>
            <td><?php echo $user['FirstName'];?></td>
            <td><?php echo $user['LastName'];?></td>
            <td><?php echo ($user['Temp'] === 0) ? 'Nein' : 'Ja';?></td>
        </tr>
        <?php } ?>
    </tbody>
</table>
<div id="slider">
    <div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    /* Init DataTables */
    var oTable = $('#1').dataTable();
} );
</script>