






<h1>Notiz erstellen</h1>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<form action="" method="post" id="createnote" class="">
<input type="text" id="noteName" name="NoteName" value="<?php echo $this->NoteName?>" placeholder="Notizname" ><br>

<textarea name="NoteContent" maxlength="255" placeholder="Inhalt" id="textareaid">
<?php if(isset($this->NoteContent)){ ;?>
<?php echo $this->NoteContent;}?>
</textarea><br>
<input id="noteOwner" value="<?php echo $this->currentUser->getLogin(); ?>" name=owner list=owners type="text" placeholder="Besitzer">
<datalist id="owners">
<?php
    foreach($this->owner as $user){
        ?><option value="<?php echo $user->getLogin(); ?>"><?php echo $user->getLogin() , ' [', $user->getFirstName(), ' ', $user->getLastName(), ']'; ?></option><?php
    }
?>
</datalist>
Backup Level:
<select id="backupLevel"><option>1</option><option>2</option><option>3</option></select>
<input type="submit" value="speichern" name="createnotesave" id="savenote" class="clear">
<span id="spanid">255</span>


</form>
<a class="btn btn-primary btn-large clear" href="/notice">Zurück zur Übersicht</a>


<script>
function lengthshow()
{
    var a = $('#textareaid').val();

    $('#spanid').html(255-a.length);
}
$('#textareaid').keydown(lengthshow);
$('#textareaid').keyup(lengthshow);


$('#savenote').click(function(e){
	e.preventDefault();

	var formData = new FormData();
	formData.append('file', new Blob([$('#textareaid').val()], {type: 'text/notice'}));
	formData.append('name', $('#noteName').val() + '.notice');
	formData.append('owner', $('#noteOwner').val());
	formData.append('location', 'dir://');
	formData.append('backupLevel', $('#backupLevel').val());
	globalAjax('/data/upload', {data: formData, contentType: false, processData: false,}).success(function(responseObject){
		if(responseObject.success){
			location.href = '/notice';
		}
    });
});

</script>

<script>
<?php
if(isset($this->error)){
    ?>
    globalNotification({error: '<?php echo $this->error ?>'});
    <?php
}
?>
</script>
<script>
<?php
if(isset($this->success)){
    ?>
    globalNotification({success: '<?php echo $this->success ?>'});
    <?php
}
?>
</script>