<link type="text/css" rel="stylesheet" media="screen" href="/css/notice.css">
<script src="/js/jsdiff.js"></script>
<script src="/js/notice.js"></script>
<div id="content">
<h3>Notizen</h3>
<?php if (!empty($this->notizen)) { ?>
<table>
    <tr>
        <th>Notiz</th>
        <th>Titel</th>
        <th>Rechte</th>
    </tr>
      <?php foreach ($this->notizen as $notiz) { ?>
  <tr>
        <td><?php echo $notiz->getFileId() ;?></td>
        <td><span class = "noticeSpan" onclick="Notice.openDialog(<?php echo $notiz->getFileId(); ?>)">  <?php echo $notiz->getName();  ?></span></td>
        <td><a href="notice/vision/<?php echo $notiz->getFileId(); ?>">bearbeiten</a></td>
    </tr>
      <?php } ?>
</table>
<?php } ?>
<?php if (!empty($this->visible)) { ?>
    <h3>Für dich sichtbare Notizen</h3>
    <table>
        <tr>
            <th>Notiz</th>
            <th>Titel</th>
        </tr>
          <?php foreach ($this->visible as $visible) { ?>
      <tr>
            <td><?php echo $visible->getFileId(); ?></td>
            <td><span class = "noticeSpan" onclick="Notice.openDialog(<?php echo $visible->getFileId(); ?>)">  <?php echo $visible->getName();  ?></span></td>
        </tr>
          <?php } ?>
    </table>
<?php } ?>
<a class="btn btn-primary btn-large" href="../notice/create">Neue Notiz erstellen</a>
</div>
<div id="slider">
    <div>
    </div>
</div>
