<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" />
<link rel="stylesheet" href="/css/data.css"/>

<link rel="stylesheet" type="text/css" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
<script type="text/javascript" src="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>


<h3>Suchergebnisse:</h3>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Schlüsselwörter</th>
            </tr>
        </thead>
        <tbody>
        <?php
            foreach($this->r AS $result) {
        ?>
        <tr onclick="globalAjax('/file', {data: {fileId:  '<?php echo $result->getFileId();?>'}}).success(openFileEditDialog);">
            <td><?php echo $result->getName();?></td>
            <td><?php echo $result->getType();?></td>
            <td><?php echo $result->getKeyWords();?></td>
        </tr>
        <?php
            }
        ?>
        </tbody>
    </table>
</div>


<script src="//cdn.jsdelivr.net/ace/1.1.01/noconflict/ace.js"></script>
<script src ="/js/data.js" defer></script>
<script src ="/js/jsdiff.js" defer></script>

<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">

    function onAddTag(tag) {
    	alert("Added a tag: " + tag);
    }
    function onRemoveTag(tag) {
    	alert("Removed a tag: " + tag);
    }

    function onChangeTag(input,tag) {
    	alert("Changed a tag: " + tag);
    }

    $(function() {

    	$('#tags_1').tagsInput({width:'auto'});

    });
</script>